extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Акции";
	- var pageDescription = "Абонименты клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.

	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item= pageTitle

	section.section.section_announce.bg-light
		.inner
			h1= pageTitle

		.inner
			.announce
				.announce__list
					+announceItem('01', 'Год безлимитный 8900 руб.', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, '28.05.2018')
					+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')
					+announceItem('03', 'Минус 30% на абонементы', 'Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы!', false, '28.05.2018')
					+announceItem('04', 'Скидка на абонементы POLE DANCE', 'В клубе на проспекте Науки  действует специальное предложение на абонементы секции Pole Dance (танец на пилоне).', false, '28.05.2018')
					+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')
					+announceItem('03', 'Минус 30% на абонементы', 'Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы!', false, '28.05.2018')
					+announceItem('01', 'Год безлимитный 8900 руб.', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, '28.05.2018')
					+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')


				.pagination
					.pagination__list
						a(href='#').pagination__item.is-active 1
						a(href='#').pagination__item 2
						a(href='#').pagination__item 3
						a(href='#').pagination__item 4
						a(href='#').pagination__item 5
						.pagination__dots . . .
						a(href='#').pagination__item 152
					.pagination__control
						a(href='#').btn.btn_prev.is-disabled ПРЕДЫДУЩАЯ
						a(href='#').btn.btn_next СЛЕДУЮЩАЯ

block append
