extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Акция";
	- var pageDescription = "Минус 30% на абонементы";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	#content
		section.section.section_breadcrumbs
			.inner
				.breadcrumbs
					a(href='#').breadcrumbs__item Еврофитнес
					a(href='#').breadcrumbs__item Науки д.10
					a(href='#').breadcrumbs__item Акции
					.breadcrumbs__item= pageTitle


		section.section.section_content.bg-light
			.inner
				.announce.announce_content
					.announce__item
						.announce__item-image: img(src='img/temp/action_03.jpg', alt= pageTitle)

		section.section.section_slider
			.inner
				.content
					p.on-pp.on-pp_top
						a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ АКЦИИ
						br
					p
						.label.label_red АКЦИИ
						.label-text 04.09.2017, Еврофитнес на пр.Науки, д.10

					h1 Минус 30% на абонементы
					//-h2 Общефизическая подготовка
					p.subtitle Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы! Скидки до 30%
					p Приходите в наш клуб и заказывайте себе годовую карту! Или продлевайте действующую. Сомневаетесь и не хотите покупать «кота в мешке»?  Наш менеджер проведет для вас экскурсию по клубу. Покажет и расскажет обо всех интересных особенностях. Так же вы всегда можете оформить гостевой пробный визит, после чего принять окончательное решение.

					.content__label
						.content__label-item Срок действия акции до: #[b 28.05.2018]

					.content__contact
						.content__contact-h Узнать подробности:
						.content__contact-item
							.content__contact-ico.content__contact-ico_phone
							.content__contact-title ТЕЛЕФОН КЛУБА
							.content__contact-text Узнать подробнее о наших акциях вы можете каждый день с 8:00 до 19:00 по телефону:
							.content__contact-phone +7 (812) 291-94-63
						.content__contact-item
							.content__contact-ico.content__contact-ico_city
							.content__contact-title АДРЕС КЛУБА
							.content__contact-text Ждем вас по адресу: пр. Науки д. 10 (станция  метро «Академическая»)

		section.section.section_share
			.inner
				.share
					.share__item.share__item_vk
						a(href='#').share__item-ico
						.share__item-count 0
					.share__item.share__item_fb
						a(href='#').share__item-ico
						.share__item-count 0

				.on-pp.on-pp_bottom
					a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ АКЦИИ

	section.section.section_slider.section_announce.bg-light
		.inner
			h2.c-black Похожие акции
		.inner
			.announce
				.announce__list.js-adaptive-slider
					+announceItem('01', 'Год безлимитный 8900 руб.', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, '28.05.2018')
					+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')
					+announceItem('03', 'Минус 30% на абонементы', 'Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы!', false, '28.05.2018')
					+announceItem('04', 'Скидка на абонементы POLE DANCE', 'В клубе на проспекте Науки  действует специальное предложение на абонементы секции Pole Dance (танец на пилоне).', false, '28.05.2018')
					+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')
					+announceItem('03', 'Минус 30% на абонементы', 'Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы!', false, '28.05.2018')
					+announceItem('01', 'Год безлимитный 8900 руб.', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, '28.05.2018')
					+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')

				.slider-control.slider-control_aside
					.slider-control__arrow.slider-control__arrow_prev
					.slider-control__count
					.slider-control__arrow.slider-control__arrow_next

block append
