extends layout/template

block vars
	- var pageName = "trainer";
	- var pageTitle = "Клуб";
	- var pageDescription = "Страница о Клубе";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.

	section.section.section_menu
		.tabs
			.tabs__menu
				.inner
					.tabs__menu-item(data-part='pagenav#actions'): span АКЦИИ
					.tabs__menu-item(data-part='pagenav#gallery'): span ГАЛЕРЕЯ
					.tabs__menu-item(data-part='pagenav#specificity'): span СЕКЦИИ В КЛУБЕ
					.tabs__menu-item(data-part='pagenav#schedule'): span РАСПИСАНИЕ В КЛУБЕ
					.tabs__menu-item(data-part='pagenav#member'): span АБОНЕМЕНТЫ КЛУБА
					.tabs__menu-item(data-part='pagenav#events'): span КАЛЕНДАРЬ МЕРОПРИЯТИЙ
					.tabs__menu-item(data-part='pagenav#services'): span О КЛУБЕ
					.tabs__menu-item(data-part='pagenav#trainers'): span КОМАНДА
					.tabs__menu-item(data-part='pagenav#map'): span КОНТАКТЫ
	#actions
		section.section.section_slider.section_announce.bg-light
			.inner
				h2 Акции
				.title-more: a(href='#').btn ВСЕ АКЦИИ

			.inner
				.announce
					.announce__list.js-adaptive-slider
						+announceItem('01', 'Год безлимитный 8900 руб.', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, '28.05.2018')
						+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')
						+announceItem('03', 'Минус 30% на абонементы', 'Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы!', false, '28.05.2018')
						+announceItem('04', 'Скидка на абонементы POLE DANCE', 'В клубе на проспекте Науки  действует специальное предложение на абонементы секции Pole Dance (танец на пилоне).', false, '28.05.2018')
						+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')
						+announceItem('03', 'Минус 30% на абонементы', 'Дорогие друзья, поклонники здорового образа жизни, клиенты нашего клуба! С 1 августа в Еврофитнес на проспекте Науки стартует акция на абонементы!', false, '28.05.2018')
						+announceItem('01', 'Год безлимитный 8900 руб.', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, '28.05.2018')
						+announceItem('02', 'Акция ноября на день рождения клуб максимум 2 строки', 'В честь Дня Рождения клуба Еврофитнес на проспекте Науки 10, весь ноябрь действует «акция ноября»!', false, '28.05.2018')

					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

	#gallery
		section.section.section_gallery.section_slider
			.inner
				h2 Фотогалерея
				.title-more: a(href='#').btn ВСЕ ФОТО


			.tabs
				.tabs__menu
					.inner
						.tabs__menu-item.is-active(data-tab-link='gallery_1', data-tab-group='gallery'): span Фото тренера
						.tabs__menu-item(data-tab-link='gallery_2', data-tab-group='gallery'): span Тренировки
						.tabs__menu-item(data-tab-link='gallery_3', data-tab-group='gallery'): span Соревнования

			.inner
				.gallery(data-tab-target='gallery_1', data-tab-group='gallery').is-active
					.gallery__list.js-adaptive-slider.js-gallery-group
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next

				.gallery(data-tab-target='gallery_2', data-tab-group='gallery')
					.gallery__list.js-adaptive-slider.js-gallery-group
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next

				.gallery(data-tab-target='gallery_3', data-tab-group='gallery')
					.gallery__list.js-adaptive-slider.js-gallery-group
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next


	#specificity
		section.section.section_specificity.bg-light.section_slider
			.inner
				h2 Секции в клубе
				.title-more: a(href='#').btn ВСЕ СЕКЦИИ НА ПР.НАУКИ

			.tabs
				.tabs__menu
					.inner
						.tabs__menu-item.is-active(data-tab-link='sections_all', data-tab-group='sections'): span Все
						.tabs__menu-item(data-tab-link='sections_adult', data-tab-group='sections'): span Для взрослых
						.tabs__menu-item(data-tab-link='sections_kids', data-tab-group='sections'): span Для детей

			.inner
				.specificity(data-tab-target='sections_all', data-tab-group='sections').is-active
					.specificity__list.js-block-slider
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next


				.specificity(data-tab-target='sections_adult', data-tab-group='sections')
					.specificity__list.js-block-slider
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit', false, 'rub')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next


				.specificity(data-tab-target='sections_kids', data-tab-group='sections')
					.specificity__list.js-block-slider
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next


	#schedule
		section.section.section_schedule.section_slider
			.inner
				h2 Расписание групповых занятий
				.title-more: a(href='#').btn ВСЁ РАСПИСАНИЕ

			.tabs
				.tabs__menu
					.inner
						.tabs__menu-item.is-active(data-tab-link='schedule_1', data-tab-group='schedule'): span Групповые занятия
						.tabs__menu-item(data-tab-link='schedule_2', data-tab-group='schedule'): span Детские секции
						.tabs__menu-item(data-tab-link='schedule_3', data-tab-group='schedule'): span Взрослые секции

			.schedule__diary
				.schedule__diary-inner
					.inner
						.schedule__diary-ico: i
						.schedule__diary-item.is-active
							.schedule__diary-date 6 сен.
							.schedule__diary-name Сегодня
						.schedule__diary-item
							.schedule__diary-date 7 сен.
							.schedule__diary-name Четверг
						.schedule__diary-item
							.schedule__diary-date 8 сен.
							.schedule__diary-name Пятница
						.schedule__diary-item
							.schedule__diary-date 9 сен.
							.schedule__diary-name Суббота
						.schedule__diary-item
							.schedule__diary-date 10 сен.
							.schedule__diary-name Суббота
						.schedule__diary-item
							.schedule__diary-date 11 сен.
							.schedule__diary-name Понедельник
						.schedule__diary-item
							.schedule__diary-date 12 сен.
							.schedule__diary-name Вторник

			.inner
				.schedule.schedule_club.is-active(data-tab-target='schedule_1', data-tab-group='schedule')

					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next

					.schedule__list.js-schedule-slider
						.schedule__column
							//-.schedule__day ПОНЕДЕЛЬНИК
							+scheduleItem(['#72bedb', '#ffc180'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пелевина Екатерина')
							+scheduleItem(['#b3536d'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day ВТОРНИК
							+scheduleItem(['#72bedb'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пелевина Екатерина')
							//-+scheduleItem([], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Тренер')

						.schedule__column
							//-.schedule__day СРЕДА
							+scheduleItem(['#72bedb'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Фадеева Анна')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day ЧЕТВЕРГ
							+scheduleItem(['#a1cb83'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')
							//-+scheduleItem([], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Фадеева Анна', true)

						.schedule__column
							//-.schedule__day ПЯТНИЦА
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day СУББОТА
							+scheduleItem(['#f67b9c'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')


						.schedule__column
							//-.schedule__day ВОСКРЕСЕНЬЕ
							+scheduleItem(['#a1cb83'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Замула Е.')
							+scheduleItem(['#f67b9c'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

					.schedule__legend
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #72bedb;')
							.schedule__legend-name Кардио программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #f67b9c;')
							.schedule__legend-name Силовые программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #b3536d;')
							.schedule__legend-name Функциональный тренинг
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #a1cb83;')
							.schedule__legend-name Танцевальные программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #ffc180;')
							.schedule__legend-name Body&Mind

				.schedule.schedule_club(data-tab-target='schedule_2', data-tab-group='schedule')
					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next

					.schedule__list.js-schedule-slider
						.schedule__column
							//-.schedule__day ПОНЕДЕЛЬНИК
							+scheduleItem(['#72bedb', '#ffc180'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пелевина Екатерина')
							+scheduleItem(['#b3536d'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day ВТОРНИК
							+scheduleItem(['#72bedb'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пелевина Екатерина')
							//-+scheduleItem([], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Тренер')

						.schedule__column
							//-.schedule__day СРЕДА
							+scheduleItem(['#72bedb'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Фадеева Анна')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day ЧЕТВЕРГ
							+scheduleItem(['#a1cb83'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')
							//-+scheduleItem([], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Фадеева Анна', true)

						.schedule__column
							//-.schedule__day ПЯТНИЦА
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day СУББОТА
							+scheduleItem(['#f67b9c'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')


						.schedule__column
							//-.schedule__day ВОСКРЕСЕНЬЕ
							+scheduleItem(['#a1cb83'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Замула Е.')
							+scheduleItem(['#f67b9c'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

					.schedule__legend
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #72bedb;')
							.schedule__legend-name Кардио программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #f67b9c;')
							.schedule__legend-name Силовые программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #b3536d;')
							.schedule__legend-name Функциональный тренинг
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #a1cb83;')
							.schedule__legend-name Танцевальные программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #ffc180;')
							.schedule__legend-name Body&Mind

				.schedule.schedule_club(data-tab-target='schedule_3', data-tab-group='schedule')
					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next

					.schedule__list.js-schedule-slider
						.schedule__column
							//-.schedule__day ПОНЕДЕЛЬНИК
							+scheduleItem(['#72bedb', '#ffc180'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пелевина Екатерина')
							+scheduleItem(['#b3536d'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day ВТОРНИК
							+scheduleItem(['#72bedb'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пелевина Екатерина')
							//-+scheduleItem([], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Тренер')

						.schedule__column
							//-.schedule__day СРЕДА
							+scheduleItem(['#72bedb'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Фадеева Анна')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day ЧЕТВЕРГ
							+scheduleItem(['#a1cb83'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')
							//-+scheduleItem([], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Фадеева Анна', true)

						.schedule__column
							//-.schedule__day ПЯТНИЦА
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

						.schedule__column
							//-.schedule__day СУББОТА
							+scheduleItem(['#f67b9c'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Пешкова Виктория')


						.schedule__column
							//-.schedule__day ВОСКРЕСЕНЬЕ
							+scheduleItem(['#a1cb83'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Замула Е.')
							+scheduleItem(['#f67b9c'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин', 'Лебедев Алексей')

					.schedule__legend
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #72bedb;')
							.schedule__legend-name Кардио программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #f67b9c;')
							.schedule__legend-name Силовые программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #b3536d;')
							.schedule__legend-name Функциональный тренинг
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #a1cb83;')
							.schedule__legend-name Танцевальные программы
						a(href='#').schedule__legend-item
							.schedule__legend-color(style='color: #ffc180;')
							.schedule__legend-name Body&Mind


	#member
		section.section.section_member.bg-light.section_slider
			.inner
				h2 Абонементы клуба
				.title-more: a(href='#').btn ВСЕ АБОНЕМЕНТЫ

			.tabs
				.tabs__menu
					.inner
						.tabs__menu-item.is-active(data-tab-link='member_all', data-tab-group='member'): span Все
						.tabs__menu-item(data-tab-link='member_action', data-tab-group='member'): span Акции

			.inner
				.member(data-tab-target='member_all', data-tab-group='member').is-active
					.member__list.js-adaptive-slider
						+memberItem('01', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('02', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('03', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение без ограничений в часы работы клуба', 'Окончательную стоимость может отличаться'], true, 100000)
						+memberItem('04', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение без ограничений в часы работы клуба', 'Окончательную стоимость может отличаться'], true, 75005)
						+memberItem('01', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('02', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('01', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('04', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение без ограничений в часы работы клуба', 'Окончательную стоимость может отличаться'], true, 9000)


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

				.member(data-tab-target='member_action', data-tab-group='member')
					.member__list.js-adaptive-slider
						+memberItem('03', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение без ограничений в часы работы клуба', 'Окончательную стоимость может отличаться'], true, 85000)
						+memberItem('01', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('01', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('02', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('04', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение без ограничений в часы работы клуба', 'Окончательную стоимость может отличаться'], true, 400000)
						+memberItem('01', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])
						+memberItem('04', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение без ограничений в часы работы клуба', 'Окончательную стоимость может отличаться'], true, 10)
						+memberItem('02', 'Полный абонемент', ['Срок членства - 1 год', 'Посещение всех клубов сети', 'Посещение без ограничений в часы работы клуба', 'Наличие паспорта для оформления членства обязательно', 'Окончательную стоимость может отличаться'])

					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

	#events
		section.section.section_announce.bg-light.section_slider
			.inner
				h2 Календарь мероприятий
				.title-more: a(href='#').btn ВСЕ МЕРОПРИЯТИЯ

			.tabs.tabs_calendar
				.tabs__menu
					.inner
						a(href='#').tabs__menu-item.is-active: span Все
						a(href='#').tabs__menu-item: span #[sup 2017] Август
						a(href='#').tabs__menu-item: span Сентябрь
						a(href='#').tabs__menu-item: span Октябрь
						a(href='#').tabs__menu-item: span Ноябрь
						a(href='#').tabs__menu-item: span Декабрь
						a(href='#').tabs__menu-item: span #[sup 2018] Январь
						a(href='#').tabs__menu-item: span Февраль
						a(href='#').tabs__menu-item: span Март
						a(href='#').tabs__menu-item: span Апрель
						a(href='#').tabs__menu-item: span Май
						a(href='#').tabs__menu-item: span Июнь
						a(href='#').tabs__menu-item: span Июль
						a(href='#').tabs__menu-item: span Август
						a(href='#').tabs__menu-item: span Сентябрь
						a(href='#').tabs__menu-item: span Октябрь
						a(href='#').tabs__menu-item: span Ноябрь
						a(href='#').tabs__menu-item: span Декабрь

			.inner
				.events
					.events__list.js-adaptive-slider
						+eventsItem('01', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
						+eventsItem('02', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
						+eventsItem('03', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
						+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
						+eventsItem(false, 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
						+eventsItem('06', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
						+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
						+eventsItem('05', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
						+eventsItem('06', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
						+eventsItem('02', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
						+eventsItem('03', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
						+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

	#services
		section.section.section_services.section_slider
			.inner
				h2 Услуги клуба

			.inner
				.services
					.services__list.js-mobile-slider
						+servicesItem('1', '1', 'Тренажерный зал')
						+servicesItem('2', '2', 'Зона аэробных тренировок')
						+servicesItem('3', '3', 'Посещение зала групповых занятий по расписанию')
						+servicesItem('4', '1', 'Раздевалки с душевыми')
						+servicesItem('5', '2', 'Тренажерный зал')
						+servicesItem('6', '3', 'Зона аэробных тренировок')
						+servicesItem('7', '1', 'Посещение зала групповых занятий по расписанию')
						+servicesItem('8', '2', 'Раздевалки с душевыми')
						+servicesItem('9', '3', 'Тренажерный зал')
						+servicesItem('10', '1', 'Зона аэробных тренировок')


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

					.services__more
						.services__more-title Дополнительные услуги
						.services__more-list
							ul
								li Персональные тренировки
								li Спортивные секции
								li Детский фитнес
								li Аренда полотенец
							ul
								li Широкий спектр дополнительных
								li Авторские уроки
								li Солярии в раздевалках
							ul
								li Мастер-классы
								li Мини-группы
								li Фитнес-бар


	#trainers
		section.section.section_trainers.bg-light.section_slider
			.inner
				h2 Наши тренеры
				.title-more: a(href='#').btn ВСЕ ТРЕНЕРЫ

			.inner
				.trainers
					.trainers__list.js-block-slider
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'])
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'])
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'])
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'])
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'])
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'])
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'])
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'])
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'])
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'])
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'])


					.slider-control.slider-control_aside
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next


	#map
		section.section.section_map

			.map__image.on-mb(style='background-image: url("../img/map_m.jpg");')
			.map__image.on-dt(style='background-image: url("../img/map.jpg");')

			.map

				.inner
					.map__info
						h2 Наши контакты

						.map__item
							.map__item-icon: img(src='/img/ico/ico-contact-location.svg')
							.map__item-info
								p: span.text ул. Кржижановского, 8
						.map__item
							.map__item-icon: img(src='/img/ico/ico-contact-metro.svg')
							.map__item-info
								p
									span.text #[i.ico.ico-metro.ico-metro_4] Проспект Большевиков
									span.path #[i.ico.ico-walk] 1,3 км
									span.path #[i.ico.ico-transport] K305, 26, 23А
								p
									span.text #[i.ico.ico-metro.ico-metro_4] Ладожская
									span.path #[i.ico.ico-walk] 1,3 км
						.map__item
							.map__item-icon: img(src='/img/ico/ico-contact-watch.svg')
							.map__item-info
								p.float
									span.title пн. - пт:
									span.text 7:00-24:00
								p.float
									span.title сб. - вс:
									span.text 9:00-22:00
						.map__item
							.map__item-icon: img(src='/img/ico/ico-contact-phone.svg')
							.map__item-info
								p.float
									span.title Рецепция:
									span.text +7 (812) 291-94-63
								p.float
									span.title Отдел продаж:
									span.text +7 (812) 955-77-90,  +7 (981) 978-25-37
						.map__item
							.map__item-icon: img(src='/img/ico/ico-contact-mail.svg')
							.map__item-info
								p
									span.title E-mail:
									span.text pr@eurofitclub.ru


block append
