extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Контакты";
	- var pageDescription = "Контакты";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.

	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item= pageTitle

	section.section.section_contacts.bg-light
		.inner
			h1= pageTitle

			.contacts
				.contacts__item
					.contacts__item-ico.content__contact-ico_phone
					.contacts__item-title ТЕЛЕФОН КЛУБА
					.contacts__item-case
						.contacts__item-text Рецепция клуба:
						.contacts__item-phone +7 (812) 291-94-63
					.contacts__item-case
						.contacts__item-text Отдел продаж:
						.contacts__item-phone +7 (812) 955-77-90
						.contacts__item-phone +7 (981) 978-25-37
				.contacts__item
					.contacts__item-ico.content__contact-ico_city
					.contacts__item-title АДРЕС КЛУБА
					.contacts__item-text пр. Науки д. 10
					.contacts__item-address
						span.text #[i.ico.ico-metro.ico-metro_4] Проспект Большевиков
						span.path #[i.ico.ico-walk] 1,3 км
						span.path #[i.ico.ico-transport] K305, 26, 23А

				.contacts__item
					.contacts__item-ico.content__contact-ico_time
					.contacts__item-title E-MAIL
					.contacts__item-text Рецепция клуба:
					.contacts__item-phone pr@eurofitclub.ru

		.contacts__map.js-map(data-coordinates='60.015004,30.391296', data-baloon='img/map-baloon_2.png')



block append
	// api key для гугель карт лучше заменить на боевой, т.к. этот тестовый и в любое время может перестать работать.
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwwQF-OMFibwzs__ShDkmnHlCbpMy72Do&callback=initMap")
