extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Календарь мероприятий";
	- var pageDescription = "Абонименты клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.

	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item= pageTitle

	section.section.section_announce.bg-light
		.inner
			h1= pageTitle

		.tabs.tabs_calendar
			.tabs__menu
				.inner
					a(href='#').tabs__menu-item.is-active: span Все
					a(href='#').tabs__menu-item: span #[sup 2017] Август
					a(href='#').tabs__menu-item: span Сентябрь
					a(href='#').tabs__menu-item: span Октябрь
					a(href='#').tabs__menu-item: span Ноябрь
					a(href='#').tabs__menu-item: span Декабрь
					a(href='#').tabs__menu-item: span #[sup 2018] Январь
					a(href='#').tabs__menu-item: span Февраль
					a(href='#').tabs__menu-item: span Март
					a(href='#').tabs__menu-item: span Апрель
					a(href='#').tabs__menu-item: span Май
					a(href='#').tabs__menu-item: span Июнь
					a(href='#').tabs__menu-item: span Июль
					a(href='#').tabs__menu-item: span Август
					a(href='#').tabs__menu-item: span Сентябрь
					a(href='#').tabs__menu-item: span Октябрь
					a(href='#').tabs__menu-item: span Ноябрь
					a(href='#').tabs__menu-item: span Декабрь

		.inner
			.events
				.events__list
					+eventsItem('01', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
					+eventsItem('02', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('03', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
					+eventsItem(false, 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('06', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
					+eventsItem('05', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('06', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('02', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('03', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')


				.pagination
					.pagination__list
						a(href='#').pagination__item.is-active 1
						a(href='#').pagination__item 2
						a(href='#').pagination__item 3
						a(href='#').pagination__item 4
						a(href='#').pagination__item 5
						.pagination__dots . . .
						a(href='#').pagination__item 152
					.pagination__control
						a(href='#').btn.btn_prev.is-disabled ПРЕДЫДУЩАЯ
						a(href='#').btn.btn_next СЛЕДУЮЩАЯ

block append
