extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Акция";
	- var pageDescription = "Минус 30% на абонементы";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	#content
		section.section.section_breadcrumbs
			.inner
				.breadcrumbs
					a(href='#').breadcrumbs__item Еврофитнес
					a(href='#').breadcrumbs__item Науки д.10
					a(href='#').breadcrumbs__item Акции
					.breadcrumbs__item= pageTitle


		section.section.section_content.section_slider

			.gallery
				.inner
					.gallery__list.js-content-slider.js-gallery-group
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/vacancy_01.jpg', src='img/temp/vacancy_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/vacancy_01.jpg', src='img/temp/vacancy_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/vacancy_01.jpg', src='img/temp/vacancy_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/vacancy_01.jpg', src='img/temp/vacancy_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/vacancy_01.jpg', src='img/temp/vacancy_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/vacancy_01.jpg', src='img/temp/vacancy_01.jpg')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next

		section.section
			.inner
				.content
					.content__label
						.content__label-item 21 сентября
						.content__label-text СОРЕВНОВАНИЯ

					h1 Минус 30% на абонементы
					//-h2 Общефизическая подготовка
					p.subtitle Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки
					p Приходите в наш клуб и заказывайте себе годовую карту! Или продлевайте действующую. Сомневаетесь и не хотите покупать «кота в мешке»?  Наш менеджер проведет для вас экскурсию по клубу. Покажет и расскажет обо всех интересных особенностях. Так же вы всегда можете оформить гостевой пробный визит, после чего принять окончательное решение.

		section.section.section_share
			.inner
				.share
					.share__item.share__item_vk
						a(href='#').share__item-ico
						.share__item-count 0
					.share__item.share__item_fb
						a(href='#').share__item-ico
						.share__item-count 0

				.on-pp.on-pp_bottom
					a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ АКЦИИ

	section.section.section_slider.section_announce.bg-light
		.inner
			h2.c-black Похожие мероприятия
		.inner
			.events
				.events__list.js-adaptive-slider
					+eventsItem('01', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
					+eventsItem('02', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('03', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
					+eventsItem(false, 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('06', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')
					+eventsItem('05', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('06', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('02', 'СОРЕВНОВАНИЯ', 'Соревнования фитоняшек', '23-29 сентября')
					+eventsItem('03', 'МАСТЕР-КЛАСС', 'Какой-то заголовок мастер-класса', '26 сентября, 15:00')
					+eventsItem('04', 'СОРЕВНОВАНИЯ', 'Соревнования по Crossfit среди клиентов клуба длинный заголовок в 3 строчки не больше', '21 сентября')

				.slider-control.slider-control_aside
					.slider-control__arrow.slider-control__arrow_prev
					.slider-control__count
					.slider-control__arrow.slider-control__arrow_next

block append
