extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Фотогалерея";
	- var pageDescription = "Фотогалерея клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item= pageTitle

	section.section.section_specificity.bg-light
		.inner
			h1= pageTitle

		.tabs
			.tabs__menu
				.inner           
					.tabs__menu-item.is-active(data-tab-link='gallery_all', data-tab-group='gallery'): span Фото тренера
					.tabs__menu-item(data-tab-link='gallery_train', data-tab-group='gallery'): span Тренировки
					.tabs__menu-item(data-tab-link='gallery_competition', data-tab-group='gallery'): span Соревнования

		.inner
			.photos(data-tab-target='gallery_all', data-tab-group='gallery').is-active
				.photos__list.js-gallery-group
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()


				.pagination
					.pagination__list
						a(href='#').pagination__item.is-active 1
						a(href='#').pagination__item 2
						a(href='#').pagination__item 3
						a(href='#').pagination__item 4
						a(href='#').pagination__item 5
						.pagination__dots . . .
						a(href='#').pagination__item 152
					.pagination__control
						a(href='#').btn.btn_prev.is-disabled ПРЕДЫДУЩАЯ
						a(href='#').btn.btn_next СЛЕДУЮЩАЯ


			.photos(data-tab-target='gallery_train', data-tab-group='gallery')
				.photos__list.js-gallery-group
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()


				.pagination
					.pagination__list
						a(href='#').pagination__item.is-active 1
						a(href='#').pagination__item 2
						a(href='#').pagination__item 3
					.pagination__control
						a(href='#').btn.btn_prev.is-disabled ПРЕДЫДУЩАЯ
						a(href='#').btn.btn_next СЛЕДУЮЩАЯ


			.photos(data-tab-target='gallery_competition', data-tab-group='gallery')
				.photos__list.js-gallery-group
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()
					+photo()


				.pagination
					.pagination__list
						a(href='#').pagination__item.is-active 1
						a(href='#').pagination__item 2
						a(href='#').pagination__item 3
					.pagination__control
						a(href='#').btn.btn_prev.is-disabled ПРЕДЫДУЩАЯ
						a(href='#').btn.btn_next СЛЕДУЮЩАЯ

block append
