extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "ЕвроФитнесГрупп";
	- var pageDescription = "Абонименты клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_slider.bg-light
		.inner
			.announce.announce_news
				.announce__list.js-adaptive-slider
					+announceItem('01', 'Год безлимитный 8900 руб. ', 'Акция действует в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'АКЦИИ НА НАУКИ', true)
					+announceItem('02', 'Открыт набор в студию POLE DANCE. ', 'Ждём вас в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'СЕКЦИИ', true)
					+announceItem('03', 'Более 15 детских секций', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, false, 'СЕКЦИИ', true)
					+announceItem('04', 'Год безлимитный 8900 руб. ', 'Акция действует в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'АКЦИИ НА НАУКИ', true)
					+announceItem('05', 'Открыт набор в студию POLE DANCE. ', 'Ждём вас в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'СЕКЦИИ', true)
					+announceItem('06', 'Более 15 детских секций', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, false, 'СЕКЦИИ', true)

				.slider-control
					.slider-control__arrow.slider-control__arrow_prev
					.slider-control__count
					.slider-control__dots
					.slider-control__arrow.slider-control__arrow_next

	section.section.section_clubmap
		.clubmap
			.clubmap__item.clubmap__item_1
				.clubmap__item-head
					.inner.clearfix
						.clubmap__item-title ЕФ на Науки
						.clubmap__item-goto: a(href='#').btn.btn_blue ПЕРЕЙТИ В КЛУБ
				.clubmap__item-body
					.clubmap__item-map.js-map(data-coordinates='60.015004,30.391296', data-baloon='img/map-baloon_1.png')
					.inner
						.clubmap__item-info
							.clubmap__item-info-about
								.clubmap__item-info-title #[img(src="img/ico/ico-club_1.svg")] ЕФ на пр.Науки, 10
								.clubmap__item-info-contact
									.clubmap__item-info-contact-name Время работы:
									.clubmap__item-info-contact-val 8:00-23:00
								.clubmap__item-info-contact
									.clubmap__item-info-contact-name Рецепция клуба:
									.clubmap__item-info-contact-val +7 (812) 291-94-63
								.clubmap__item-info-contact
									.clubmap__item-info-contact-name Отдел продаж:
									.clubmap__item-info-contact-val +7 (812) 291-94-63
							.clubmap__item-menu
								a(href='#').clubmap__item-menu-item
									.clubmap__item-menu-ico.clubmap__item-menu-ico_time
									.clubmap__item-menu-text Расписание#[br]в клубе
								a(href='#').clubmap__item-menu-item
									.clubmap__item-menu-ico.clubmap__item-menu-ico_trainer
									.clubmap__item-menu-text Тренеры#[br]клуба
								a(href='#').clubmap__item-menu-item
									.clubmap__item-menu-ico.clubmap__item-menu-ico_360
									.clubmap__item-menu-text Виртуальное#[br]путешествие

			.clubmap__item.clubmap__item_2
				.clubmap__item-head
					.inner.clearfix
						.clubmap__item-title ЕФ на Кржижановского
						.clubmap__item-goto: a(href='#').btn.btn_blue ПЕРЕЙТИ В КЛУБ
				.clubmap__item-body
					.clubmap__item-map.js-map(data-coordinates='59.931611,30.465421', data-baloon='img/map-baloon_2.png')
					.inner
						.clubmap__item-info
							.clubmap__item-info-about
								.clubmap__item-info-title #[img(src="img/ico/ico-club_2.svg")] ЕФ на Кржижановского&nbsp;д.8
								.clubmap__item-info-contact
									.clubmap__item-info-contact-name Время работы:
									.clubmap__item-info-contact-val 8:00-23:00
								.clubmap__item-info-contact
									.clubmap__item-info-contact-name Рецепция клуба:
									.clubmap__item-info-contact-val +7 (812) 291-94-63
								.clubmap__item-info-contact
									.clubmap__item-info-contact-name Отдел продаж:
									.clubmap__item-info-contact-val +7 (812) 291-94-63
							.clubmap__item-menu
								a(href='#').clubmap__item-menu-item
									.clubmap__item-menu-ico.clubmap__item-menu-ico_time
									.clubmap__item-menu-text Расписание#[br]в клубе
								a(href='#').clubmap__item-menu-item
									.clubmap__item-menu-ico.clubmap__item-menu-ico_trainer
									.clubmap__item-menu-text Тренеры#[br]клуба
								a(href='#').clubmap__item-menu-item
									.clubmap__item-menu-ico.clubmap__item-menu-ico_360
									.clubmap__item-menu-text Виртуальное#[br]путешествие



block append
	// api key для гугель карт лучше заменить на боевой, т.к. этот тестовый и в любое время может перестать работать.
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwwQF-OMFibwzs__ShDkmnHlCbpMy72Do&callback=initMap")
