extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section.section.section_text(style='min-height:500px;')
		.inner
			h2 Ссылки
			h3: a(href='home.html') Главная
			h3: a(href='trainer.html') Тренер
			h3: a(href='sections.html') Секции
			h3: a(href='sections-item.html') Страница отдельной секции
			h3: a(href='#', data-popup-page='sections-item.html') #[span.c-red Попап] отдельной секции
			h3: a(href='member.html') Абонемент
			h3: a(href='member-item.html') Страница отдельного абонемента
			h3: a(href='#', data-popup-page='member-item.html') #[span.c-red Попап] отдельного абонемента
			h3: a(href='actions.html') Акции
			h3: a(href='actions-item.html') Страница отдельной акции
			h3: a(href='#', data-popup-page='actions-item.html') #[span.c-red Попап] отдельной акции
			h3: a(href='news.html') Новости (ЕвроФитнесГрупп)
			h3: a(href='events.html') Календарь мероприятий
			h3: a(href='events-item.html') Страница отдельного мероприятия
			h3: a(href='#', data-popup-page='events-item.html') #[span.c-red Попап] отдельного мероприятия
			h3: a(href='club.html') Клуб
			h3: a(href='gallery.html') Фотогалерея
			h3: a(href='vacancy.html') Вакансии
			h3: a(href='vacancy-item.html') Страница отдельной вакансии
			h3: a(href='#', data-popup-page='vacancy-item.html') #[span.c-red Попап] отдельной вакансии
			h3: a(href='schedule.html') Расписание в клубе
			h3: a(href='trainers.html') Тренеры
			h3: a(href='contacts.html') Контакты
			br
			h2 Попапы
			h3: a(href='#', data-popup-open='.popup_workout') Записаться на тренировку
			h3: a(href='#', data-popup-open='.popup_tnx') Записаться на тренировку - Спасибо за заявку
			h3: a(href='#', data-popup-open='.popup_contact') Связаться с нами
			h3: a(href='#', data-popup-open='.popup_address') Адрес
			br
			h2 CrossFit
			h3: a(href='crossfit.html') Главная

			br
			h2 Комментарии
			style.
				.pre{
					font-family: monospace;
				}
				.pre .code{
					font-weight: bold;
					color: green;
				}

			.pre.
				Глобальные методы выведены в объект #[span.code window.app]#[br]#[br]

				#[span.code window.app.popup] - вызов попапа.#[br]
				пример:#[br]
					#[span.code window.app.popup.open('.popup_contact')]#[br]
					#[span.code window.app.popup.close('.popup')]

block append