extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Абонемент для пенсионеров";
	- var pageDescription = "Абонемент для пенсионеров";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	#content
		section.section.section_breadcrumbs
			.inner
				.breadcrumbs
					a(href='#').breadcrumbs__item Еврофитнес
					a(href='#').breadcrumbs__item Науки д.10
					a(href='#').breadcrumbs__item Абонементы
					.breadcrumbs__item= pageTitle


		section.section.section_content.bg-light

			.inner
				.member
					.member__item.member__item_action
						.member__item-image: img(src='img/temp/member_03.jpg', alt= pageTitle)

		section.section.section_slider
			.inner
				.content
					p.on-pp.on-pp_top
						a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ АБОНЕМЕНТА
						br
					p
						.label.label_red АБОНЕМЕНТЫ

					h1= pageTitle
					//-h2 Общефизическая подготовка
					p Карта для пенсионеров на 12 месяцев с возможностью неограниченного посещения в любое время работы клуба.

					h3 НАЗВАНИЕ
					ul
						li Срок членства - 1 год
						li Посещение без ограничений в часы работы клуба
						li Окончательную стоимость может отличаться

					//-h2 Дни и время занятий в клубе на пр.Науки:

		section.section.section_appointment.bg-dark
			.inner
				.appointment.appointment_content
					.appointment__aside
						.appointment__title Узнать больше
						.appointment__text Пожалуйста, заполните форму, наш менеджер свяжется с вами.

					.appointment__aside
						form.appointment__form.form(action='/', method='post')

							.form__field
								.form__input.form__input_text
									input(type='text', name='appointmentName')
									span.placeholder Имя
								.form__message

							.form__field
								.form__input.form__input_text
									input(type='text', name='appointmentSername')
									span.placeholder Фамилия
								.form__message

							.form__field
								.form__input.form__input_phone
									input(type='tel', name='appointmentPhone')
									span.placeholder Ваш телефон
								.form__message

							.form__field
								label.form__input.form__input_checkbox
									input(type='checkbox', name='appointmentConfirm')
									span.label Я соглашаюсь с условиями обработки #[a(href='#') персональных данных]
								.form__message

							.form__field.form__field_w
								.form__input.form__input_submit
									input(type='submit', value='ОТПРАВИТЬ').btn.btn_blue

		section.section.section_share
			.inner
				.share
					.share__item.share__item_vk
						a(href='#').share__item-ico
						.share__item-count 0
					.share__item.share__item_fb
						a(href='#').share__item-ico
						.share__item-count 0

				.on-pp.on-pp_bottom
					a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ АБОНЕМЕНТА

block append
