extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "ЕвроФитнесГрупп";
	- var pageDescription = "Абонименты клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				.breadcrumbs__item= pageTitle

	section.section.section_slider.bg-light
		.inner
			h1= pageTitle

		.inner
			.announce.announce_news
				.announce__list.js-adaptive-slider
					+announceItem('01', 'Год безлимитный 8900 руб. ', 'Акция действует в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'АКЦИИ НА НАУКИ', true)
					+announceItem('02', 'Открыт набор в студию POLE DANCE. ', 'Ждём вас в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'СЕКЦИИ', true)
					+announceItem('03', 'Более 15 детских секций', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, false, 'СЕКЦИИ', true)
					+announceItem('04', 'Год безлимитный 8900 руб. ', 'Акция действует в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'АКЦИИ НА НАУКИ', true)
					+announceItem('05', 'Открыт набор в студию POLE DANCE. ', 'Ждём вас в клубе : пр.Науки д.10<br>тел.955-77-90', false, false, 'СЕКЦИИ', true)
					+announceItem('06', 'Более 15 детских секций', 'Акция действует в клубе : пр.Науки д.10 тел.955-77-90', false, false, 'СЕКЦИИ', true)

				.slider-control
					.slider-control__arrow.slider-control__arrow_prev
					.slider-control__count
					.slider-control__dots
					.slider-control__arrow.slider-control__arrow_next

	section.section.section_filter
		.inner.clearfix
			.filter
				form(action='/', method='post')
					.filter__mobile.on-mb
						.filter__mobile-title ПО ВИДУ СПОРТА
						.filter__mobile-list
							.filter__mobile-item.filter__mobile-item_field(data-show-filter='.js-filter-multiply') Выбран: #[span.filter__mobile-item_field-count 0]
							.filter__mobile-item.filter__mobile-item_filter(data-show-filter='.js-filter-other')

					.filter__list
						.filter__list-inner

							.filter__title.js-filter-other
								.filter__title-text Фильтры
								.filter__title-close

							.filter__title.js-filter-multiply
								.filter__title-text По виду спорта
									.filter__title-close

							.filter__group.filter__group_left

								.filter__field.filter__field_tags.js-filter-other
									.filter__field-title ИНТЕРЕС
									.filter__tags
										+filterItemTag('#ЕвроФитнес')
										+filterItemTag('#eurofitclub')
										+filterItemTag('#мероприятия')
										+filterItemTag('#соревнования')
										+filterItemTag('#eurofitclub')
										+filterItemTag('#мероприятия')
										.filter__tags-item.filter__tags-item_all ВСЕ ТЭГИ

							.filter__group.filter__group_right
								.filter__field.filter__field_select.js-filter-other
									.filter__field-title ДАТА ПУБЛИКАЦИИ
									.filter__select
										.filter__select-value
											span За всё время
											i.filter__select-arrow
										.filter__select-list
											+filterItemSelect('За всё время', 'time-all', 'time', true)
											+filterItemSelect('За неделю', 'time-week', 'time')
											+filterItemSelect('За месяц', 'time-month', 'time')

								.filter__field.filter__field_select.js-filter-multiply
									.filter__field-title ПО ВИДУ СПОРТА
									.filter__select.filter__select_multiply
										.filter__select-value Выбрано: #[span.filter__select-count 0] #[i.filter__select-arrow]
										.filter__select-list
											+filterItemMultiply('Crossfit', 'type-c0', 'type')
											+filterItemMultiply('Фитнес', 'type-f0', 'type')
											+filterItemMultiply('Бокс', 'type-b0', 'type')
											+filterItemMultiply('Аэробика', 'type-a0', 'type')
											+filterItemMultiply('Фитнес', 'type-f1', 'type')
											+filterItemMultiply('Бокс', 'type-b1', 'type')
											+filterItemMultiply('Crossfit', 'type-c1', 'type')
											+filterItemMultiply('Фитнес', 'type-f2', 'type')
											+filterItemMultiply('Бокс', 'type-b2', 'type')
											+filterItemMultiply('Аэробика', 'type-a2', 'type')

						.filter__submit.on-mb
							.filter__submit-btn: .btn.btn_border.js-form-clear СБРОСИТЬ
							.filter__submit-btn: .btn.btn_blue.js-form-submit ГОТОВО


	section.section.section_slider.bg-light
		.inner
			.announce
				.announce__list
					+announceItem('05', 'Евроутро на Кржижановского', 'Внимание! ЕВРОУТРО за 3500р. – 6 месяцев Акция действует только в клубе на Кржижановского до 31.08.17. Подробности в отделе продаж или по  9104242.', '03 августа 2017', false, 'АКЦИИ')
					+announceItem('06', 'Ждем вас в наших просторных залах', 'Выбери свой абонемент. Подробности в отделе продаж или по т.9104242.  <a href="#">#еврофитнес</a> <a href="#">#eurofitclub</a>', '23 июля 2017', false, 'НОВОСТИ')
					+announceItem('07', 'Евровыходной в клубе на Кржижановского', false, '21 июля 2017', false, 'АКЦИИ')
					.announce__item.announce__item_gouble
						.announce__item-inner
							.announce__item-info
								.announce__item-date 03 августа 2017
								.announce__item-description
									.announce__item-title.c-red Ждем вас в наших просторных залах
									.announce__item-text Выбери свой абонемент. Подробности в отделе продаж или по т.9104242.  <a href="#">#еврофитнес</a> <a href="#">#eurofitclub</a>
								.announce__item-label
									.label.label_blue НОВОСТИ

						.announce__item-inner
							.announce__item-info
								.announce__item-date 23 июля 2017
								.announce__item-description
									.announce__item-title.c-red Акция в клубе на Кржижановского
									.announce__item-text Выбери свой абонемент. Подробности в отделе продаж или по т.9104242.  <a href="#">#еврофитнес</a> <a href="#">#eurofitclub</a>
								.announce__item-label
									.label.label_blue Успей до 31.08.2017

					+announceItem('05', 'Евроутро на Кржижановского', 'Внимание! ЕВРОУТРО за 3500р. – 6 месяцев Акция действует только в клубе на Кржижановского до 31.08.17. Подробности в отделе продаж или по  9104242.', '03 августа 2017', false, 'АКЦИИ')
					+announceItem('06', 'Ждем вас в наших просторных залах', 'Выбери свой абонемент. Подробности в отделе продаж или по т.9104242.  <a href="#">#еврофитнес</a> <a href="#">#eurofitclub</a>', '23 июля 2017', false, 'НОВОСТИ')
					+announceItem(false, 'Евровыходной в клубе на Кржижановского', 'Внимание! ЕВРОУТРО за 3500 р. – 6 месяцев Акция действует только в клубе на Кржижановского до 31.08.17. Подробности в отделе продаж или по  9104242.', '21 июля 2017', false, 'АКЦИИ')
					+announceItem('07', 'Евровыходной в клубе на Кржижановского', false, '21 июля 2017', false, 'АКЦИИ')


			.pagination
					.pagination__list
						a(href='#').pagination__item.is-active 1
						a(href='#').pagination__item 2
						a(href='#').pagination__item 3
						a(href='#').pagination__item 4
						a(href='#').pagination__item 5
						.pagination__dots . . .
						a(href='#').pagination__item 152
					.pagination__control
						a(href='#').btn.btn_prev.is-disabled ПРЕДЫДУЩАЯ
						a(href='#').btn.btn_next СЛЕДУЮЩАЯ


block append
