extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Расписание в клубе";
	- var pageDescription = "Абонименты клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.

	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item= pageTitle

	section.section.bg-light
		.inner
			h1= pageTitle

			.filter
				form(action='/', method='post')
					.filter__mobile.on-mb
						.filter__mobile-title ПО ВИДУ СПОРТА
						.filter__mobile-list
							.filter__mobile-item.filter__mobile-item_field(data-show-filter='.js-filter-multiply') Выбран: #[span.filter__mobile-item_field-count 0]
							.filter__mobile-item.filter__mobile-item_filter(data-show-filter='.js-filter-other')

					.filter__list
						.filter__list-inner

							.filter__title.js-filter-other
								.filter__title-text Фильтры
								.filter__title-close

							.filter__title.js-filter-multiply
								.filter__title-text ТРЕНЕРОВКИ
									.filter__title-close

							.filter__group.filter__group_left

								.filter__field.filter__field_radio.js-filter-other
									.filter__field-title ИНТЕРЕС
									.filter__radio
										+filterItemRadio('Групповые программы', 'interest-1', 'interest', true)
										+filterItemRadio('Взрослые секции', 'interest-2', 'interest')
										+filterItemRadio('Детские секции', 'interest-3', 'interest')

							.filter__group.filter__group_right
								.filter__field.filter__field_select.js-filter-other
									.filter__field-title НАПРАВЛЕНИЕ
									.filter__select
										.filter__select-value
											span Все направления
											i.filter__select-arrow
										.filter__select-list
											+filterItemSelect('Все направления', 'direction-all', 'direction', true)
											+filterItemSelect('Одно направление', 'direction-one', 'direction')
											+filterItemSelect('Другое направление', 'direction-two', 'direction')

								.filter__field.filter__field_select.js-filter-multiply
									.filter__field-title ТРЕНЕРОВКИ
									.filter__select.filter__select_multiply
										.filter__select-value Выбрано: #[span.filter__select-count 0] #[i.filter__select-arrow]
										.filter__select-list
											+filterItemMultiply('Crossfit', 'type-c0')
											+filterItemMultiply('Фитнес', 'type-f0')
											+filterItemMultiply('Бокс', 'type-b0')
											+filterItemMultiply('Аэробика', 'type-a0')
											+filterItemMultiply('Фитнес', 'type-f1')
											+filterItemMultiply('Бокс', 'type-b1')
											+filterItemMultiply('Crossfit', 'type-c1')
											+filterItemMultiply('Фитнес', 'type-f2')
											+filterItemMultiply('Бокс', 'type-b2')
											+filterItemMultiply('Аэробика', 'type-a2')

								.filter__field.filter__field_select.js-filter-other
									.filter__field-title ТРЕНЕР
									.filter__select
										.filter__select-value
											span Все тренеры
											i.filter__select-arrow
										.filter__select-list
											+filterItemSelect('Все тренеры', 'trainer-all', 'trainer', true)
											+filterItemSelect('Первый тренер', 'trainer-one', 'trainer')
											+filterItemSelect('Второй тренер', 'trainer-two', 'trainer')

						.filter__submit.on-mb
							.filter__submit-btn: .btn.btn_border.js-form-clear СБРОСИТЬ
							.filter__submit-btn: .btn.btn_blue.js-form-submit ГОТОВО


	section.section.section_schedule.js-schedule-all
		.bg-light
			.inner
				.schedule.schedule_days

					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next

					.schedule__days.js-schedule-all-days
						.schedule__days-item.schedule__days-item_current
							.schedule__days-name ПОНЕДЕЛЬНИК
							.schedule__days-date 12 сентября
						.schedule__days-item
							.schedule__days-name ВТОРНИК
							.schedule__days-date 13 сентября
						.schedule__days-item
							.schedule__days-name СРЕДА
							.schedule__days-date 14 сентября
						.schedule__days-item
							.schedule__days-name ЧЕТВЕРГ
							.schedule__days-date 15 сентября
						.schedule__days-item
							.schedule__days-name ПЯТНИЦА
							.schedule__days-date 16 сентября
						.schedule__days-item
							.schedule__days-name СУББОТА
							.schedule__days-date 17 сентября
						.schedule__days-item
							.schedule__days-name ВОСКРЕСЕНЬЕ
							.schedule__days-date 18 сентября

		.concealer.is-open
			.concealer__front
				.inner
					.concealer__front-title УТРО
					.concealer__front-handler
			.concealer__back
				.inner
					.schedule.schedule_all
						.schedule__period
							.schedule__period-time: span 8:00
							.schedule__period-time: span 9:00
							.schedule__period-time: span 10:00
							.schedule__period-time.schedule__period-time_2: span 11:00

						.schedule__list.js-schedule-all-slider
							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#a1cb83'],'9:00-10:00','Большой зал','Pilates +','Михайлова А.')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Lower Body','Михайлова А.')
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','ABS + Flex','Фадеева Анна')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Super Sculpt','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Bums + Flex','Пелевина Екатерина')
								+scheduleItem(['#72bedb'],'11:00-12:00','Большой зал','Step 1','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','Bums + Flex','Пелевина Екатерина')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#a1cb83'],'9:00-10:00','Большой зал','Pilates','Пелевина Екатерина')
								+scheduleItem(['#e6e594'],'10:00-11:00','Большой зал','Global Training','Пешкова В.')
								+scheduleItem(['#a1cb83'],'11:00-12:00','Большой зал','Flex','Трубина А.')

							.schedule__column
								+scheduleItem(['#f67b9c'],'8:00-9:00','Большой зал','ABS + Flex','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Upper Body','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Lower Body','Пелевина Екатерина')
								+scheduleItem(['#ce9bef'],'11:00-12:00','Большой зал','Arabic Dance 1','Нагнибида Светлана', true)

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Super Sculpt','Фадеева Анна')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Bums + Flex','Фадеева Анна')
								+scheduleItem(['#ce9bef'],'11:00-12:00','Большой зал','Strip Dance 1','Фадеева Анна')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#ce9bef'],'9:00-10:00','Малый зал','Love Dance','Нагнибида Светлана')
								+scheduleItem(['#a1cb83'],'10:00-11:00','Большой зал','YOGA 1,5 часа','Литвинов Никита')
								+scheduleItem(['#e6e594'],'11:00-12:00','Большой зал','Global Training','Ефремова О.')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(false)
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','Bums + ABS','Веснина Дарья')


		.concealer
			.concealer__front
				.inner
					.concealer__front-title ДЕНЬ
					.concealer__front-handler
			.concealer__back
				.inner
					.schedule.schedule_all
						.schedule__period
							.schedule__period-time: span 8:00
							.schedule__period-time: span 9:00
							.schedule__period-time: span 10:00
							.schedule__period-time.schedule__period-time_2: span 11:00

						.schedule__list.js-schedule-all-slider
							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#a1cb83'],'9:00-10:00','Большой зал','Pilates +','Михайлова А.')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Lower Body','Михайлова А.')
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','ABS + Flex','Фадеева Анна')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Super Sculpt','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Bums + Flex','Пелевина Екатерина')
								+scheduleItem(['#72bedb'],'11:00-12:00','Большой зал','Step 1','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','Bums + Flex','Пелевина Екатерина')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#a1cb83'],'9:00-10:00','Большой зал','Pilates','Пелевина Екатерина')
								+scheduleItem(['#e6e594'],'10:00-11:00','Большой зал','Global Training','Пешкова В.')
								+scheduleItem(['#a1cb83'],'11:00-12:00','Большой зал','Flex','Трубина А.')

							.schedule__column
								+scheduleItem(['#f67b9c'],'8:00-9:00','Большой зал','ABS + Flex','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Upper Body','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Lower Body','Пелевина Екатерина')
								+scheduleItem(['#ce9bef'],'11:00-12:00','Большой зал','Arabic Dance 1','Нагнибида Светлана', true)

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Super Sculpt','Фадеева Анна')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Bums + Flex','Фадеева Анна')
								+scheduleItem(['#ce9bef'],'11:00-12:00','Большой зал','Strip Dance 1','Фадеева Анна')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#ce9bef'],'9:00-10:00','Малый зал','Love Dance','Нагнибида Светлана')
								+scheduleItem(['#a1cb83'],'10:00-11:00','Большой зал','YOGA 1,5 часа','Литвинов Никита')
								+scheduleItem(['#e6e594'],'11:00-12:00','Большой зал','Global Training','Ефремова О.')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(false)
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','Bums + ABS','Веснина Дарья')


		.concealer
			.concealer__front
				.inner
					.concealer__front-title ВЕЧЕР
					.concealer__front-handler
			.concealer__back
				.inner
					.schedule.schedule_all
						.schedule__period
							.schedule__period-time: span 8:00
							.schedule__period-time: span 9:00
							.schedule__period-time: span 10:00
							.schedule__period-time.schedule__period-time_2: span 11:00

						.schedule__list.js-schedule-all-slider
							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#a1cb83'],'9:00-10:00','Большой зал','Pilates +','Михайлова А.')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Lower Body','Михайлова А.')
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','ABS + Flex','Фадеева Анна')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Super Sculpt','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Bums + Flex','Пелевина Екатерина')
								+scheduleItem(['#72bedb'],'11:00-12:00','Большой зал','Step 1','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','Bums + Flex','Пелевина Екатерина')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#a1cb83'],'9:00-10:00','Большой зал','Pilates','Пелевина Екатерина')
								+scheduleItem(['#e6e594'],'10:00-11:00','Большой зал','Global Training','Пешкова В.')
								+scheduleItem(['#a1cb83'],'11:00-12:00','Большой зал','Flex','Трубина А.')

							.schedule__column
								+scheduleItem(['#f67b9c'],'8:00-9:00','Большой зал','ABS + Flex','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Upper Body','Пелевина Екатерина')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Lower Body','Пелевина Екатерина')
								+scheduleItem(['#ce9bef'],'11:00-12:00','Большой зал','Arabic Dance 1','Нагнибида Светлана', true)

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'9:00-10:00','Большой зал','Super Sculpt','Фадеева Анна')
								+scheduleItem(['#f67b9c'],'10:00-11:00','Большой зал','Bums + Flex','Фадеева Анна')
								+scheduleItem(['#ce9bef'],'11:00-12:00','Большой зал','Strip Dance 1','Фадеева Анна')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(['#ce9bef'],'9:00-10:00','Малый зал','Love Dance','Нагнибида Светлана')
								+scheduleItem(['#a1cb83'],'10:00-11:00','Большой зал','YOGA 1,5 часа','Литвинов Никита')
								+scheduleItem(['#e6e594'],'11:00-12:00','Большой зал','Global Training','Ефремова О.')

							.schedule__column
								+scheduleItem(false)
								+scheduleItem(false)
								+scheduleItem(false)
								+scheduleItem(['#f67b9c'],'11:00-12:00','Большой зал','Bums + ABS','Веснина Дарья')


block append
