extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Kettlebell Fit";
	- var pageDescription = "Kettlebell Fit";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	#content
		section.section.section_breadcrumbs
			.inner
				.breadcrumbs
					a(href='#').breadcrumbs__item Еврофитнес
					a(href='#').breadcrumbs__item Науки д.10
					a(href='#').breadcrumbs__item Секции
					.breadcrumbs__item= pageTitle


		section.section.section_content.section_slider

			.gallery
				.inner
					.gallery__list.js-content-slider.js-gallery-group
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')
						.gallery__item: .gallery__item-inner: .gallery__item-link: img(data-original='img/temp/photo_01.jpg', src='img/temp/photo_01.jpg')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next


		section.section.section_slider
			.inner
				.content
					p.on-pp.on-pp_top
						a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ СЕКЦИИ
						br
					p
						.label.label_red ГРУППОВЫЕ ПРОГРАММЫ

					h1= pageTitle
					h2 Общефизическая подготовка
					p Интенсивная фитнес-тренировка с гирями. Такие программы способствуют укреплению кардиореспираторной системы, развитию физической силы и выносливости,  скорости реакции, гибкости и координации движений, позволяют эффективно снижать вес и гармонично развивать мышцы.

					h3 НАЗВАНИЕ
					ul
						li Групповые программы
						li Взрослые 18-40, взрослые 41-54
					ul
						li Высокая интенсивность, для всех уровней подготовленности

					h2 Дни и время занятий в клубе на пр.Науки:

				.schedule.schedule_section
					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next
					.schedule__list.js-schedule-content
						.schedule__column
							.schedule__day ПОНЕДЕЛЬНИК
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')

						.schedule__column
							.schedule__day ВТОРНИК
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '21:00-22:00', false, false, 'Скорняков П.')

						.schedule__column
							.schedule__day СРЕДА
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')

						.schedule__column
							.schedule__day СРЕДА
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')

						.schedule__column
							.schedule__day СРЕДА
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')

						.schedule__column
							.schedule__day СРЕДА
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')

						.schedule__column
							.schedule__day СРЕДА
							+scheduleItem(['#ffc080'], '16:00-17:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '18:00-19:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '19:00-20:00', false, false, 'Скорняков П.')
							+scheduleItem(['#ffc080'], '20:00-21:00', false, false, 'Скорняков П.')


		section.section.section_share
			.inner
				.share
					.share__item.share__item_vk
						a(href='#').share__item-ico
						.share__item-count 0
					.share__item.share__item_fb
						a(href='#').share__item-ico
						.share__item-count 0

				.on-pp.on-pp_bottom
					a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ СЕКЦИИ

block append
