extends layout/template

mixin img(image)
	.gallery__item
		.gallery__item-inner
			.gallery__item-link
				img(data-original='img/temp/trainer_gallery_' + image + '.jpg', src='img/temp/trainer_gallery_01.jpg')

block vars
	- var pageName = "trainer";
	- var pageTitle = "Тренер";
	- var pageDescription = "Страница о тренере";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_trainer
		.trainer
			.trainer__info
				.inner
					.trainer__info-rank Тренер групповых программ, персональный тренер
					.trainer__info-name Данилюк Светлана
					.trainer__info-place
						.trainer__info-place-item
							.trainer__info-place-ico.ico-metro.ico-metro_4
							.trainer__info-place-address ПР.БОЛЬШЕВИКОВ, КРЖИЖАНОВСКОГО Д.8,&nbsp;2&nbsp;ЭТАЖ
					.trainer__info-plate
						.trainer__info-plate-item Сегодня работает до: 24:00
						.trainer__info-plate-item Персональная тренировка: от 1000 руб.

			.trainer__photo(style='background-image:url(img/temp/trainer_view_01.jpg);')

	section.section.section_menu
		.tabs
			.tabs__menu
				.inner
					.tabs__menu-item.is-active(data-part='pagenav#about'): span О ТРЕНЕРЕ
					.tabs__menu-item(data-part='pagenav#businnes'): span НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
					.tabs__menu-item(data-part='pagenav#gallery'): span ФОТОГАЛЕРЕЯ
					.tabs__menu-item(data-part='pagenav#schedule'): span РАСПИСАНИЕ ГРУППОВЫХ ЗАНЯТИЙ
					.tabs__menu-btn: .btn(data-popup-open='.popup_workout') ЗАПИСАТЬСЯ НА ТРЕНИРОВКУ


	#about
		section.section.bg-light.on-mb
			.inner
				.btn(data-popup-open='.popup_workout') ЗАПИСАТЬСЯ НА ТРЕНИРОВКУ

		section.section.section_about.bg-light
			.inner

				h2.c-red О тренере
				p ‘’Привет, меня зовут Марь Иванна, я профессиональный тренер групповых програм, сертифицированный тренер по Crossfit, чемпион по гиревому спорту и многое многое другое’’
				h3 Я ПРЕДЛАГАЮ
				ul
					li Персональные тренировки
					li Групповые тренировки
				ul
					li Программы питания
					li Становление техник
				ul
					li Еще одно предложение

		section.section.section_education
			.inner
				h2 Образование
				h3 ВЫСШЕЕ ОБРАЗОВАНИЕ

				.education
					+educationItem('2010г.', 'Санкт-Петербургский государственный университет путей сообщения', 'Финансовый менеджмент')

				h3 ФИТНЕС ОБРАЗОВАНИЕ

				.education
					+educationItem('2011г.', 'Колледж фитнеса и бодибилдинга им. Бена Вейдера г. Санкт-Петербург', 'Инструктор фитнеса, бодибилдинга, оздоровительной и физической культуры (диплом с отличием)')
					+educationItem('2013г.', 'Колледж фитнеса и бодибилдинга им. Бена Вейдера г. Санкт-Петербург. <span class="c-blue">Семинар</span>', 'Эргогеника питания. Базовый рацион')
					+educationItem('2015г.', 'Колледж фитнеса и бодибилдинга им. Бена Вейдера г. Санкт-Петербург', 'Гематомониторинг в фитнесе и спорте')
					+educationItem('2014г.', 'Университет фитнеса «Fitness Star»', 'Cycle, spinning')
					+educationItem('2015г.', 'Университет фитнеса «Fitness Star» <br><span class="c-blue">Семинар</span>', 'Гиревой спорт', true)
					+educationItem('2015г.', 'VP Fitness Consulting <br><span class="c-blue">Семинар</span>', 'Коррекция осанки. Стретчинг. Функциональный тренинг', true)
					+educationItem('2016г.', 'Курсы TRX GSTC, TRX Sports Medicine', 'Сертифицированный международный инструктор программ: «TRX для&nbsp;специалистов по реабилитации и работе со спортсменами»', true)
				.education
					+educationItem('2012г.', 'Колледж фитнеса и бодибилдинга им. Бена Вейдера г. Санкт-Петербург<br><span class="c-blue">Семинар</span>', 'Персональный тренер по бодибилдингу и фитнесу', true)
					+educationItem('2016г.', 'НОК "Педагогический колледж фитнеса"<br><span class="c-blue">Семинар</span>', 'Сертифицированный тренер для беременных', true)
					+educationItem('2015г.', 'Университет фитнеса «Fitness Star» при СCК «Olymp» и «Alex Fitness»', 'Инструктор по классической и степ аэробике 1-3 уровней, силовым и интервальным классам, функциональному тренингу, pilates', true)
					+educationItem('2015г.', 'Kangoo Jumps Russia', 'Сертифицированный международный инструктор программы «Kangoo Power»', true)
					+educationItem('2016г.', 'Курсы TRX GSTC, TRX Sports Medicine', 'Сертифицированный международный инструктор программ: «Групповые и персональный форматы проведения тренировок с TRX»', true)

					.more.js-show-more: span Еще

	#businnes
		section.section.section_specificity.bg-light
			.inner
				h2 Мои направления деятельности

				.specificity
					.specificity__list.js-mobile-slider
						+specificityItem('Kettlebell Fit', false, '18+')
						+specificityItem('CrossFit')
						+specificityItem('Брейк данс', false, '7+')
						+specificityItem('CrossFit', false, 'rub')
						+specificityItem('Фитнес Бикини', false, '18+')
						+specificityItem('Тяжелая атлетика пауэрлифтинг', false, '18+')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

	#gallery
		section.section.section_gallery
			.inner
				h2 Фотогалерея

			.tabs
				.tabs__menu
					.inner
						.tabs__menu-item.is-active(data-tab-link='gallery_1', data-tab-group='gallery'): span Фото тренера
						.tabs__menu-item(data-tab-link='gallery_2', data-tab-group='gallery'): span Тренировки
						.tabs__menu-item(data-tab-link='gallery_3', data-tab-group='gallery'): span Соревнования

			.inner
				.gallery(data-tab-target='gallery_1', data-tab-group='gallery').is-active
					.gallery__list.js-adaptive-slider.js-gallery-group
						+img('01')
						+img('02')
						+img('01')
						+img('02')
						+img('01')
						+img('02')


					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next

				.gallery(data-tab-target='gallery_2', data-tab-group='gallery')
					.gallery__list.js-adaptive-slider.js-gallery-group
						+img('01')
						+img('02')
						+img('01')
						+img('02')
						+img('01')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next

				.gallery(data-tab-target='gallery_3', data-tab-group='gallery')
					.gallery__list.js-adaptive-slider.js-gallery-group
						+img('01')
						+img('02')
						+img('01')
						+img('02')
						+img('01')
						+img('02')
						+img('01')
						+img('02')
						+img('01')
						+img('02')

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next

	#schedule
		section.section.section_schedule.bg-light
			.inner
				h2 Расписание групповых занятий

			.tabs
				.tabs__menu
					.inner
						.tabs__menu-item.is-active(data-tab-link='schedule_1', data-tab-group='schedule'): span Все секции
						.tabs__menu-item(data-tab-link='schedule_2', data-tab-group='schedule'): span Kettlebell Sport для женщин
						.tabs__menu-item(data-tab-link='schedule_3', data-tab-group='schedule'): span Complex training для женщин

			.inner
				.schedule.is-active(data-tab-target='schedule_1', data-tab-group='schedule')
					.schedule__period
						.schedule__period-time: span 9:00
						.schedule__period-time.schedule__period-time_2: span 20:00
					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next
					.schedule__list.js-schedule-slider
						.schedule__column
							.schedule__day ПОНЕДЕЛЬНИК
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day ВТОРНИК
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day СРЕДА
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day ЧЕТВЕРГ
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day ПЯТНИЦА
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(false)
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day СУББОТА
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day ВОСКРЕСЕНЬЕ
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

				.schedule(data-tab-target='schedule_2', data-tab-group='schedule')
					.schedule__period
						.schedule__period-time: span 9:00
						.schedule__period-time: span 20:00
					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next
					.schedule__list.js-schedule-slider
						.schedule__column
							.schedule__day ПОНЕДЕЛЬНИК
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')

						.schedule__column
							.schedule__day ВТОРНИК
							+scheduleItem(['#b3536d'], '9:00-10:00', 'Большой зал', 'Complex training для&nbsp;женщин', 'Тренер')
							+scheduleItem(['#ffc180'], '20:00-21:00', 'Большой зал', 'Kettlebell Sport для&nbsp;женщин')


				.schedule(data-tab-target='schedule_3', data-tab-group='schedule')

	section.section.section_appointment.bg-dark
		.inner
			.appointment
				.appointment__aside.appointment__aside_l
					.appointment__title Записаться на&nbsp;бесплатное пробное занятие
					.appointment__text Оставьте ваш телефон, я&nbsp;перезвоню вам в&nbsp;свободную минутку

				.appointment__aside.appointment__aside_r
					form.appointment__form.form(action='/', method='post')

						.form__field
							.form__input.form__input_email
								i.form__input-ico
								input(type='tel', name='appointmentPhone')
								span.placeholder Ваш телефон
							.form__message

						.form__field
							.form__input.form__input_submit
								input(type='submit', value='ЗАПИСАТЬСЯ НА ТРЕНИРОВКУ').btn.btn_blue

	section.section.section_cards.bg-light
		.inner
			h2 Персональные тренировки
			p Я провожу персональные тренировки для&nbsp;женщин и&nbsp;мужчин, беременных и&nbsp;людей в&nbsp;возрасте. Какая-то возможно информация еще.

			.cards
				.cards__list.js-adaptive-slider
					.cards__item
						.cards__item-inner
							.cards__item-image: img(src='img/cards/card_1.jpg', alt='Абонемент на 1 занятие')
							.cards__item-title Абонемент на&nbsp;1&nbsp;занятие
							.cards__item-text
								ul
									li Вы можете воспользоваться абонементом в течении 1 недели, после приобретения
									li Индивидуальное время посещения
									li.note Стоимость для клиентов клуба

					.cards__item
						.cards__item-inner
							.cards__item-image: img(src='img/cards/card_5.jpg', alt='Абонемент на 5 занятий')
							.cards__item-title Абонемент на&nbsp;5&nbsp;занятий
							.cards__item-text
								ul
									li Вы можете воспользоваться абонементом в&nbsp;течении 2х&nbsp;месяцев, после приобретения
									li Индивидуальное время посещения
									li Еще описание
									li.note Стоимость для клиентов клуба, какое-то длинное описание примечания в три строчки для примера

					.cards__item
						.cards__item-inner
							.cards__item-image: img(src='img/cards/card_10.jpg', alt='Абонемент на 10 занятий')
							.cards__item-title Абонемент на&nbsp;10&nbsp;занятий
							.cards__item-text
								ul
									li Вы можете воспользоваться абонементом в&nbsp;течении 2х&nbsp;месяцев, после приобретения
									li Индивидуальное время посещения
									li Еще описание

				.slider-control
					.slider-control__arrow.slider-control__arrow_prev
					.slider-control__count
					.slider-control__dots
					.slider-control__arrow.slider-control__arrow_next

	section.section.section_achievements.bg-light
		.inner
			h2 Мои победы и&nbsp;достижения
			h3 ДОСТИЖЕНИЯ

			.achievements
				.achievements__list
					+achievementsItem('kms', 'Кандидат в&nbsp;мастера спорта по&nbsp;гиревому спорту')
					+achievementsItem('sert', 'Сертифицированный специалист')

			h3 УЧАСТИЕ В СОРЕВНОВАНИЯХ

			.achievements
				.achievements__list
					+achievementsItem('cup', '1 место среди женщин', 'Открытый чемпионат Санкт-Петербурга по гиревом спорту среди')
					+achievementsItem('cup', 'Абсолютный чемпион', 'Открытый чемпионат Санкт-Петербурга по гиревом спорту среди')
					+achievementsItem('medal1', '1 место среди женщин', 'Открытый чемпионат Санкт-Петербурга по гиревом спорту среди')
					+achievementsItem('cup', '2-х кратный чемпион по спорту', 'Открытый чемпионат Санкт-Петербурга по гиревом спорту среди')
block append
