extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Тренеры";
	- var pageDescription = "Тренеры клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item= pageTitle

	.js-form-local(data-slice='10')
		section.section.section_specificity.bg-light
			.inner
				h1= pageTitle

				.filter
					form(action='/', method='post')
						.filter__mobile.on-mb
							.filter__mobile-title ПО ВИДУ СПОРТА
							.filter__mobile-list
								.filter__mobile-item.filter__mobile-item_field(data-show-filter='.js-filter-multiply') Выбран: #[span.filter__mobile-item_field-count 0]
								.filter__mobile-item.filter__mobile-item_filter(data-show-filter='.js-filter-other')

						.filter__list
							.filter__list-inner

								.filter__title.js-filter-other
									.filter__title-text Фильтры
									.filter__title-close

								.filter__title.js-filter-multiply
									.filter__title-text ТРЕНЕРОВКИ
										.filter__title-close

								.filter__group.filter__group_left

									.filter__field.filter__field_radio.js-filter-other
										.filter__field-title ИНТЕРЕС
										.filter__radio
											+filterItemRadio('Групповые программы', 'interest-1', 'interest', true)
											+filterItemRadio('Взрослые секции', 'interest-2', 'interest')
											+filterItemRadio('Детские секции', 'interest-3', 'interest')

								.filter__group.filter__group_right
									.filter__field.filter__field_select.js-filter-other
										.filter__field-title НАПРАВЛЕНИЕ
										.filter__select
											.filter__select-value
												span Все направления
												i.filter__select-arrow
											.filter__select-list
												+filterItemSelect('Все направления', 'direction-all', 'direction', true)
												+filterItemSelect('Одно направление', 'direction-one', 'direction')
												+filterItemSelect('Другое направление', 'direction-two', 'direction')

									.filter__field.filter__field_select.js-filter-multiply
										.filter__field-title ТРЕНЕРОВКИ
										.filter__select.filter__select_multiply
											.filter__select-value Выбрано: #[span.filter__select-count 0] #[i.filter__select-arrow]
											.filter__select-list
												+filterItemMultiply('Crossfit', 'type-c0', 'type')
												+filterItemMultiply('Фитнес', 'type-f0', 'type')
												+filterItemMultiply('Бокс', 'type-b0', 'type')
												+filterItemMultiply('Аэробика', 'type-a0', 'type')
												+filterItemMultiply('Фитнес', 'type-f1', 'type')
												+filterItemMultiply('Бокс', 'type-b1', 'type')
												+filterItemMultiply('Crossfit', 'type-c1', 'type')
												+filterItemMultiply('Фитнес', 'type-f2', 'type')
												+filterItemMultiply('Бокс', 'type-b2', 'type')
												+filterItemMultiply('Аэробика', 'type-a2', 'type')


							.filter__submit.on-mb
								.filter__submit-btn: .btn.btn_border.js-form-clear СБРОСИТЬ
								.filter__submit-btn: .btn.btn_blue.js-form-submit ГОТОВО


			.inner
				.trainers
					.trainers__list
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-c0'")
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-two'", "'type-f0'")
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-3', 'interest-1'", "'direction-all', 'direction-one'", "'type-b0'")
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1'", "'direction-all', 'direction-two'", "'type-a0'")
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f1', 'type-c0'")
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b1', 'type-f0'")
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-c1', 'type-b0'")
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-f2', 'type-a0'")
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-b2', 'type-f1'")
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2', 'type-b1'")
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-c0', 'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest', 'interest-1'", "'direction-all', 'direction-one'", "'type-f0', 'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3', 'interest-2'", "'direction-all', 'direction-two'", "'type-b0', 'type-b2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-2', 'interest-1'", "'direction-all', 'direction-one'", "'type-a0', 'type-a2'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1'", "'direction-all', 'direction-one'", "'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-c0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-two'", "'type-f0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-3', 'interest-1'", "'direction-all', 'direction-one'", "'type-b0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1'", "'direction-all', 'direction-two'", "'type-a0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f1', 'type-c0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b1', 'type-f0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-c1', 'type-b0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-f2', 'type-a0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-b2', 'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2', 'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-c0', 'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest', 'interest-1'", "'direction-all', 'direction-one'", "'type-f0', 'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3', 'interest-2'", "'direction-all', 'direction-two'", "'type-b0', 'type-b2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-2', 'interest-1'", "'direction-all', 'direction-one'", "'type-a0', 'type-a2'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1'", "'direction-all', 'direction-one'", "'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-2'", "'direction-all', 'direction-one'", "'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-c0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-two'", "'type-f0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-3', 'interest-1'", "'direction-all', 'direction-one'", "'type-b0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1'", "'direction-all', 'direction-two'", "'type-a0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f1', 'type-c0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b1', 'type-f0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-c1', 'type-b0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-f2', 'type-a0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-b2', 'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2', 'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-c0', 'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest', 'interest-1'", "'direction-all', 'direction-one'", "'type-f0', 'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3', 'interest-2'", "'direction-all', 'direction-two'", "'type-b0', 'type-b2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-2', 'interest-1'", "'direction-all', 'direction-one'", "'type-a0', 'type-a2'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1'", "'direction-all', 'direction-one'", "'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-c0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-two'", "'type-f0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-3', 'interest-1'", "'direction-all', 'direction-one'", "'type-b0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1'", "'direction-all', 'direction-two'", "'type-a0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f1', 'type-c0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b1', 'type-f0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-c1', 'type-b0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-f2', 'type-a0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-b2', 'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2', 'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-c0', 'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest', 'interest-1'", "'direction-all', 'direction-one'", "'type-f0', 'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3', 'interest-2'", "'direction-all', 'direction-two'", "'type-b0', 'type-b2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-2', 'interest-1'", "'direction-all', 'direction-one'", "'type-a0', 'type-a2'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1'", "'direction-all', 'direction-one'", "'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-c0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-two'", "'type-f0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-3', 'interest-1'", "'direction-all', 'direction-one'", "'type-b0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1'", "'direction-all', 'direction-two'", "'type-a0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f1', 'type-c0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b1', 'type-f0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-c1', 'type-b0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-f2', 'type-a0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-b2', 'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2', 'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-c0', 'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest', 'interest-1'", "'direction-all', 'direction-one'", "'type-f0', 'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3', 'interest-2'", "'direction-all', 'direction-two'", "'type-b0', 'type-b2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-2', 'interest-1'", "'direction-all', 'direction-one'", "'type-a0', 'type-a2'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1'", "'direction-all', 'direction-one'", "'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-2'", "'direction-all', 'direction-one'", "'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-c0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-two'", "'type-f0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-3', 'interest-1'", "'direction-all', 'direction-one'", "'type-b0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1'", "'direction-all', 'direction-two'", "'type-a0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f1', 'type-c0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b1', 'type-f0'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-c1', 'type-b0'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-f2', 'type-a0'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-b2', 'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2', 'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-two'", "'type-c0', 'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest', 'interest-1'", "'direction-all', 'direction-one'", "'type-f0', 'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3', 'interest-2'", "'direction-all', 'direction-two'", "'type-b0', 'type-b2'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-2', 'interest-1'", "'direction-all', 'direction-one'", "'type-a0', 'type-a2'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-f1'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1'", "'direction-all', 'direction-one'", "'type-b1'", true)
						+trainersItem('01', 'Суворов Константин', 'Тренер тренажерного зала Фитнес-бикини', ['kms', 'cup'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-c1'", true)
						+trainersItem('02', 'Сотников Сергей', 'Пауэрлифтинг', ['ms', 'cup'], "'interest-1', 'interest-2'", "'direction-all', 'direction-one'", "'type-f2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер по Капоэйра', ['tape', 'sert'], "'interest-1', 'interest-3'", "'direction-all', 'direction-two'", "'type-b2'", true)
						+trainersItem('03', 'Васильева Анна', 'Тренер в тренажерном зале, бодибилдинг, <a href="#" class="c-red">еще 3</a>', ['tape', 'sert'], "'interest-1', 'interest-2', 'interest-3'", "'direction-all', 'direction-one'", "'type-a2'", true)

					.pagination




block append
