extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Вакансии";
	- var pageDescription = "Вакансии клуба";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_section_01.jpg);')
			.poster__info
				.inner
					.poster__info-rank Еврофитнес
					.poster__info-name НАУКИ Д.10
					.poster__info-place
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ПР.БОЛЬШЕВИКОВ
							.poster__info-place-path #[i.ico-walk] 1,3 км
						.poster__info-place-item
							.poster__info-place-ico.ico-metro.ico-metro_4
							.poster__info-place-address ЛАДОЖСКАЯ
							.poster__info-place-path #[i.ico-walk] 1,3 км
							.poster__info-place-path #[i.ico-transport] K305, 26, 23А
					.poster__info-plate
						.poster__info-plate-item Сегодня работает до: 24:00
						.poster__info-plate-item Персональная тренировка: от 1000 руб.


	section.section.section_breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Еврофитнес
				a(href='#').breadcrumbs__item Науки д.10
				.breadcrumbs__item Секции

	section.section.section_vacancy.bg-light
		.inner
			h1= pageTitle

			.vacancy
				.vacancy__list
					+vacancyItem('Тренер групповых программ', ['НАУКИ Д.10'])
					+vacancyItem('Тренер тренажерного зала с опытом работы', ['НАУКИ Д.10', 'КРЖИЖАНОВСКОГО Д.8'])
					+vacancyItem('Тренер групповых программ', ['НАУКИ Д.10'])
					+vacancyItem('Тренер тренажерного зала с опытом работы', ['НАУКИ Д.10', 'КРЖИЖАНОВСКОГО Д.8'])
					+vacancyItem('Тренер групповых программ', ['НАУКИ Д.10'])
					+vacancyItem('Тренер тренажерного зала с опытом работы', ['НАУКИ Д.10', 'КРЖИЖАНОВСКОГО Д.8'])
					+vacancyItem('Тренер групповых программ', ['НАУКИ Д.10'])
					+vacancyItem('Тренер тренажерного зала с опытом работы', ['НАУКИ Д.10', 'КРЖИЖАНОВСКОГО Д.8'])

	section.section.section_about
		.inner

			h2.h1 Еврофитнес - стремительно развивающаяся сеть спортивных клубов
			p Мы команда единомышленников, которая стремиться к одной цели - поддержание спорта в обществе, стремление получать высокие результаты. Если вы готовы развиваться и действительно любите то, чем занимаетесь, мы ждем вас у нас в клубах.
			h3 КАНДИДАТ ДОЛЖЕН ОБЛАДАТЬ
			.clearfix
				ul
					li Персональные тренировки
					li Групповые тренировки
				ul
					li Программы питания
					li Становление техник
				ul
					li Еще одно предложение

			.contact
				.contact__title.no-mb Служба найма

				.contact__item
					.contact__item-ico.contact__item-ico_phone
					.contact__item-title ТЕЛЕФОН КЛУБА
					.contact__item-text Узнать подробнее о наших вакансиях вы можете каждый день с 8:00 до 19:00 по телефону:
					.contact__item-detail +7 (812) 291-94-63

				.contact__item
					.contact__item-ico.contact__item-ico_address
					.contact__item-title E-MAIL
					.contact__item-text Вы можете отправить нам резюме на почту
					.contact__item-detail vacancy@evrofitnes.ru

block append

