extends layout/template

block vars
	- var pageName = "poster";
	- var pageTitle = "Вакансия";
	- var pageDescription = "Вакансия";
	- var pageImage = "/img.jpg";

block head

block content

	section.section.section_poster
		.poster(style='background-image:url(img/temp/poster_vacancy_01.jpg);')


	#content
		section.section.section_breadcrumbs
			.inner
				.breadcrumbs
					a(href='#').breadcrumbs__item Еврофитнес
					a(href='#').breadcrumbs__item Вакансии
					.breadcrumbs__item= pageTitle


		section.section.section_content.bg-light
			.inner
				.announce.announce_content
					.announce__item
						.announce__item-image: img(src='img/temp/vacancy_01.jpg', alt= pageTitle)

		section.section.section_slider
			.inner
				.content
					p.on-pp.on-pp_top
						a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ ВАКАНСИИ
						br
					p
						.label.label_red ВАКАНСИЯ
						.label-text 04.09.2017, Еврофитнес на пр.Науки, д.10

					h1 Тренер групповых программ
					//-h2 Общефизическая подготовка
					p В команду Еврофитнес Науки д.10 требуется тренер групповых программ

					h3 ОБЯЗАННОСТИ:
					ul
						li Работа в спортивном клубе на Науки д.10
						li Привлечение и общение с клиентами клуба
						li Еще какая-то обязанность абота в спортивном клубе на Науки д.10
						li Еще какая-то обязанность привлечение и общение с клиентами клуба

					h3 ТРЕБОВАНИЯ:
					ul
						li Высшее образование
						li Знания и навыки приветствуются
						li Ответственность, коммуникабельность, аккуратность, внимательность
						li Желание развиваться

					h3 УСЛОВИЯ РАБОТЫ:
					ul
						li График 2/2 с 08.00 до 20.00, так же 5/2 с 8.00 до 17.00
						li Расположение зала: Санкт-Петербург, пр.Науки д.10, 3 этаж
						li Оформление по ТК РФ, заработная плата от 34000 руб
						li Бесплатное посещение всех мероприятий компании

					.content__contact
						.content__contact-h Служба найма
						.content__contact-item
							.content__contact-ico.content__contact-ico_phone
							.content__contact-title ТЕЛЕФОН КЛУБА
							.content__contact-text Узнать подробнее о наших акциях вы можете каждый день с 8:00 до 19:00 по телефону:
							.content__contact-phone +7 (812) 291-94-63
						.content__contact-item
							.content__contact-ico.content__contact-ico_city
							.content__contact-title E-MAIL
							.content__contact-text Вы можете отправить нам резюме на почту
							.content__contact-phone vacancy@evrofitnes.ru

		section.section.section_appointment.bg-dark
			.inner
				.appointment.appointment_content
					.appointment__aside
						.appointment__title Резюме на должность
						.appointment__text Пожалуйста, заполните форму, наш менеджер свяжется с вами.

					.appointment__aside
						form.appointment__form.form(action='/', method='post')

							.form__field
								.form__input.form__input_text
									input(type='text', name='appointmentFIO', placeholder='ФИО')
									//-span.placeholder ФИО
								.form__message

							.form__field
								.form__input.form__input_text
									input(type='text', name='appointmentEmail', placeholder='Ваш E-mail')
									//-span.placeholder Ваш E-mail
								.form__message

							.form__field.form__field_w
								.form__input.form__input_textarea
									textarea(name='appointmentText', placeholder='Сообщение к резюме')
									//-span.placeholder Сообщение к резюме
								.form__message

							.form__field
								label.form__input.form__input_file
									input#vacancyFile(type='file', name='appointmentFile', value='ПРИКРЕПИТЬ ФАЙЛ', accept=".doc, .docx")
									.btn.btn_blue ПРИКРЕПИТЬ ФАЙЛ
								.form__message

							.form__field.form__field_fileasset Файл c расширением .doc, .docx. Размер не должен превышать 15 Мбайт.

							.form__field.form__field_w.form__field_filelist.is-hidden

							.form__field.form__field_w
								label.form__input.form__input_checkbox
									input(type='checkbox', name='appointmentConfirm')
									span.label Я соглашаюсь с условиями обработки #[a(href='#') персональных данных]
								.form__message

							.form__field.form__field_w
								.form__input.form__input_submit
									input(type='submit', value='ОТПРАВИТЬ РЕЗЮМЕ').btn.btn_blue

		section.section.section_share
			.inner
				.share
					.share__item.share__item_vk
						a(href='#').share__item-ico
						.share__item-count 0
					.share__item.share__item_fb
						a(href='#').share__item-ico
						.share__item-count 0

				.on-pp.on-pp_bottom
					a(href='#').btn.btn_border.btn_red НА СТРАНИЦУ ВАКАНСИИ



block append
