@import "scss/var";
@import "scss/mixins";

//$sprite: '../img/crossfit/sprite.svg';
$sprite: '../img/crossfit/sprite.png';
$titleFont: 'RUSBoycott', sans-serif;


$colorRedCF: #b00212;
$colorRedDarkCF: #4a0007;
$colorBlackCF: #090909;
$colorGreyCF: #89898b;


// rewrite
$minInner: 580px;
$headerHeightMobile: 138px;




@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600&subset=cyrillic');
@font-face {
	font-family: 'RUSBoycott';
	src: url('/fonts/RUSBoycott/RUSBoycott.eot');
	src: local('☺'),
		url('../fonts/RUSBoycott/RUSBoycott.woff') format('woff'),
		url('../fonts/RUSBoycott/RUSBoycott.ttf') format('truetype'),
		url('../fonts/RUSBoycott/RUSBoycott.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "scss/print";
@import "scss/normalize";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/viewerjs/src/css/viewer";



.viewer-list > li{
	width: 50px;
}

.viewer{
	&-zoom-in::before,
	&-zoom-out::before,
	&-one-to-one::before,
	&-reset::before,
	&-prev::before,
	&-play::before,
	&-next::before,
	&-rotate-left::before,
	&-rotate-right::before,
	&-flip-horizontal::before,
	&-flip-vertical::before,
	&-fullscreen::before,
	&-fullscreen-exit::before,
	&-close::before {
		background-image: none;
	}

	&-canvas{
		.slider-control{
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 0 auto;


			&__close{
				position: fixed;
				top: 0;
				right: 0;

				height: $headerHeightMobile;
				width: $headerHeightMobile;
				cursor: pointer;

				z-index: 2;

				@include breakPoint($breakPointCompact){
					height: $headerHeightDesktop;
					width: $headerHeightDesktop;
				}

				&:before{
					content: '';
					width: 157px;
					height: 197px;
					@include backgroundSprite(144, 336, $sprite);
					position: absolute;
					top: -5px;
					left: 0;
					pointer-events: none;

					@include breakPoint($breakPointCompact){
						width: 87px;
						height: 109px;
						background-position: -1029px -392px;
					}
				}

				&:after{
					content: '';
					width: 57px;
					height: 57px;
					@include backgroundSprite(57, 525, $sprite);
					position: absolute;
					top: 35px;
					left: 46px;
					pointer-events: none;

					@include breakPoint($breakPointCompact){
						width: 45px;
						height: 45px;
						top: 12px;
						left: 16px;
						background-position: -114px -537px;
					}
				}
			}

			&__arrow{
				top: 50%;
				margin-top: -35px;
				position: fixed;

				@include breakPoint($breakPointCompact){
					margin-top: -22px;
				}

				&_prev{
					left: 10px;

					@include breakPoint($breakPointCompact){

					}
				}

				&_next{
					right: 10px;

					@include breakPoint($breakPointCompact){

					}
				}
			}
		}
	}

	&-container{
		background: $colorBlackCF;
	}

	&-frame{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;

		&:before{
			content: '';
			position: absolute;
			top: -5px;
			right: -5px;
			left: -5px;
			bottom: -5px;
			display: block;
			background: url("../img/crossfit/image-frame.png") no-repeat 50% 50%;
			background-size: 100% 100%;
		}
	}
}

.is-blur,
.viewer-open{
	.crossfit{
		filter: blur(5px);
	}
}


.viewer-toolbar{
	position: absolute;
	top: 0;
}

.btn{
	cursor: pointer;

	span{
		pointer-events: none;
	}
}

@import "scss/form";
.form {

	&__field {
		position: relative;

		&.error{

			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 27px;
				height: 24px;
				@include backgroundSprite(108, 395, $sprite);
				top: 20px;
				right: 0;

				@include breakPoint($breakPointCompact){
					top: 8px;
				}
			}

		}
	}

	&__input{

		input{

			&[type="email"],
			&[type="password"],
			&[type="tel"],
			&[type="text"]{
				border: none;
				@include border-radius(0);
				background: transparent;
				padding: 0;
				border-bottom: 2px dotted $colorGreyCF;
				font-size: 30px;

				@include breakPoint($breakPointCompact){
					padding: 0;
					@include border-radius(0);
					font-size: 18px;
					//border-width: 1px;
				}


				&:focus{
					border-color: $colorBlackCF;
					border-bottom-style: solid;
					border-width: 1px;
				}

				.filled &{
					border-bottom-style: solid;
					border-width: 1px;
				}

				.error &{
					border-color: $colorRedCF;
					border-bottom-style: solid;
					border-width: 1px;
				}

				&:disabled{
					background: transparent!important;
					border-color: $colorLight!important;
					color: $colorGrey!important;
				}

			}
		}

	}


	&__message{
		display: block;

		@include breakPoint($breakPointCompact){
			font-size: 12px;
		}

		.error &{
			color: $colorRedCF;
		}
	}
}
@import "scss/cf";


[data-tab-target]{
	display: none;

	&.is-active{
		display: block;
	}
}

.is-more-hidden{
	display: none;
}

.obj-fit{

	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.object-fit &{
		img{
			opacity: 0;
		}
	}
}

.on-mb,
.no-dt{
	@include breakPoint($breakPointCompact){
		display: none!important;
	}
}

.on-dt,
.no-mb{
	@include breakPoint(0, $breakPointCompact - 1px){
		display: none!important;
	}
}

.on-pp{
	display: none;

	.popup &{
		display: block;
	}
}


.is-hidden{
	display: none!important;
}