footer.footer
	.inner.clearfix
		.footer__main
			.footer__logo
			.footer__copy © 2017 EuroFitness Group	| Supernova Themes
		.footer__object.clearfix
			.footer__object-item

				.footer__object-address
					.footer__object-address-bigtitle АДРЕС КЛУБА
					.footer__object-address-title пр. Науки д. 10
					.footer__object-address-item (станция  метро «Академическая»)

				.footer__object-contact
					.footer__object-contact-bigtitle ТЕЛЕФОН КЛУБА
					.footer__object-contact-phone
						span +7 (812) 955-77-90

			.footer__object-item
				.footer__object-btn: .btn(data-popup-open='#popupSubscribe'): span ЗАПИСАТЬСЯ НА БЕСПЛАТНОЕ ЗАНЯТИЕ

				.footer__object-socials
					.footer__object-socials-list
						a(href='#').footer__object-socials-item.footer__object-socials-item_vk
						a(href='#').footer__object-socials-item.footer__object-socials-item_fb
						a(href='#').footer__object-socials-item.footer__object-socials-item_ig