nav.nav
	.nav__handle: i

	.nav__inner

		.nav__menu
			.nav__menu-item(data-part='#screenWelcome'): a(href='#') главная
			.nav__menu-item(data-part='#screenStaff'): a(href='#') наша команда
			.nav__menu-item(data-part='#screenWhat'): a(href='#') что такое crossfit?
			.nav__menu-item(data-part='#screenGallery'): a(href='#') фотогалерея
			.nav__menu-item(data-part='#screenMethod'): a(href='#') наша методика
			.nav__menu-item(data-part='#screenWho'): a(href='#') для кого подойдет crossfit?
			.nav__menu-item(data-part='#screenMember'): a(href='#') наши абонементы
			.nav__menu-item(data-part='#screenSchedule'): a(href='#') расписание
		.nav__object
			.nav__object-item
				.nav__object-title CROSSTRAINING  на Науки д.10

				.nav__object-address
					.nav__object-address-bigtitle АДРЕС КЛУБА
					.nav__object-address-item Ждем вас по адресу: пр. Науки д. 10 (станция  метро «Академическая»)


				.nav__object-contact
					.nav__object-contact-bigtitle ТЕЛЕФОН КЛУБА
					.nav__object-contact-item Узнать подробнее о наших акциях вы можете каждый день с 8:00 до 19:00 по телефону:
					.nav__object-contact-phone
						span +7 (812) 955-77-90

				.nav__object-btn: .btn(data-popup-open='#popupSubscribe'): span ЗАПИСАТЬСЯ НА БЕСПЛАТНОЕ ЗАНЯТИЕ

				.nav__object-socials
					.nav__object-socials-list
						a(href='#').nav__object-socials-item.nav__object-socials-item_vk
						a(href='#').nav__object-socials-item.nav__object-socials-item_fb
						//-.nav__object-socials-item.nav__object-socials-item_yt
						a(href='#').nav__object-socials-item.nav__object-socials-item_ig
