include mixin

block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content='/')/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		link(rel='stylesheet', href='css/crossfit.style.css')/

		block head
	body
		.wrapper.crossfit
			include cf-nav
			.content
				block content
				include cf-footer

		include cf-popups

		script(src='js/crossfit.script.js')

		block append