link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
link(rel='manifest', href='img/favicon/manifest.json')
link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#5bbad5')
link(rel='shortcut', href='img/favicon/favicon.ico')
meta(name='msapplication-TileColor', content='#2b5797')
meta(name='msapplication-TileImage', content='img/favicon/mstile-144x144.png')
meta(name='msapplication-config', content='img/favicon/browserconfig.xml')
meta(name='theme-color', content='#ffffff')