footer.footer
	.footer__inner
		.footer__logo: a(href='#'): img(src='img/logo-footer.png')

		.footer__group
			.footer__group-title
				.inner Разделы
			.footer__group-dropdown
				.inner
					.footer__menu
						.footer__menu-item: a(href='#') ЕВРОФИТНЕСГРУПП
						.footer__menu-item: a(href='#') ТОП-ЕФ
						.footer__menu-item: a(href='#') НОВОСТИ
						.footer__menu-item: a(href='#') ВАКАНСИИ


		.footer__group
			.footer__group-title
				.inner Информация
			.footer__group-dropdown
				.inner
					.footer__social
						.footer__social-title Мы в соц.сетях
						.footer__social-list
							a(href='#').footer__social-item.footer__social-item_vk
							a(href='#').footer__social-item.footer__social-item_fb
							a(href='#').footer__social-item.footer__social-item_yt
							a(href='#').footer__social-item.footer__social-item_ig


					.footer__address
						.footer__address-item
							.footer__address-title ЕФ на Науки, 10
							.footer__address-info
								.footer__address-subtitle Рецепция клуба:
								.footer__address-phone +7 (812) 291-94-63
							.footer__address-info
								.footer__address-subtitle Отдел продаж:
								.footer__address-phone +7 (812) 955-77-90
								.footer__address-phone +7 (981) 978-25-37
						.footer__address-item
							.footer__address-title ЕФ на ул. Кржижановского, 8
							.footer__address-info
								.footer__address-subtitle Рецепция клуба:
								.footer__address-phone +7 (812) 655-61-71
							.footer__address-info
								.footer__address-subtitle Отдел продаж:
								.footer__address-phone +7 (812) 910-42-42
								.footer__address-phone +7 (911) 122-75-00



		.inner
			.footer__copy © 2001-2017 EuroFitness Group
			.footer__politycs Политика конфидециальности#[br]Условия использования ресурса
