header.header
	.header__inner
		.header__logo: a(href='/'): img(src='img/logo.png', alt='Еврофитнес')
		.header__address
			.header__address-item
				.header__address-title ЕФ НА ПР.НАУКИ Д.10
				.header__address-info Рецепция клуба: +7 (812) 291-94-63
			.header__address-item
				.header__address-title ЕФ НА УЛ.КРЖИЖАНОВСКОГО Д.10
				.header__address-info Рецепция клуба: +7 (812) 655-61-71
		.header__nav
			.header__nav-item: a(href='#') ЕВРОФИТНЕСГРУПП
			.header__nav-item: a(href='#') ТОП-ЕФ
			.header__nav-item: a(href='#') НОВОСТИ
			.header__nav-item: a(href='#') ВАКАНСИИ
		.header__social
			a(href='#').header__social-item.header__social-item_vk
			a(href='#').header__social-item.header__social-item_fb
			a(href='#').header__social-item.header__social-item_yt
			a(href='#').header__social-item.header__social-item_ig
		a.header__call(href='tel:+7812291-94-63')
