nav.nav
	.nav__handle: i

	.nav__inner

		.nav__menu
			.nav__logo: a(href='#'): img(src='img/logo_white.png')
			.nav__menu-item: a(href='#') ЕВРОФИТНЕСГРУПП
			.nav__menu-item: a(href='#') ТОП-ЕФ
			.nav__menu-item: a(href='#') НОВОСТИ
			.nav__menu-item: a(href='#') ВАКАНСИИ
		.nav__object
			.nav__object-item
				.nav__object-title ЕФ на пр.Науки д.10
				.nav__object-btn: a(href='#').btn ПЕРЕЙТИ В КЛУБ
				.clearfix
				.nav__object-menu
					.nav__object-menu-title Разделы
					.nav__object-menu-list
						a(href='#').nav__object-menu-item О клубе
						a(href='#').nav__object-menu-item Галерея
						a(href='#').nav__object-menu-item Акции
						a(href='#').nav__object-menu-item Секции в клубе
						a(href='#').nav__object-menu-item Расписание в клубе
						a(href='#').nav__object-menu-item Абонементы клуба
						a(href='#').nav__object-menu-item Календарь мероприятий
						a(href='#').nav__object-menu-item Команда
						a(href='#').nav__object-menu-item Контакты
				.nav__object-contact
					.nav__object-contact-bigtitle ТЕЛЕФОН КЛУБА
					.nav__object-contact-title Рецепция клуба:
					.nav__object-contact-phone
						span +7 (812) 291-94-63
					.nav__object-contact-title Отдел продаж:
					.nav__object-contact-phone
						span +7 (812) 955-77-90
						span +7 (981) 978-25-37

				.nav__object-address
					.nav__object-address-bigtitle АДРЕС КЛУБА
					.nav__object-address-item пр. Науки д. 10 (станция метро «Академическая»)

				.nav__object-socials
					.nav__object-socials-list
						.nav__object-socials-item.nav__object-socials-item_vk
						.nav__object-socials-item.nav__object-socials-item_fb
						.nav__object-socials-item.nav__object-socials-item_yt
						.nav__object-socials-item.nav__object-socials-item_ig

			.nav__object-item
				.nav__object-title ЕФ на ул.Кржижановского д.8
				.nav__object-btn: a(href='#').btn ПЕРЕЙТИ В КЛУБ
				.clearfix
				.nav__object-menu
					.nav__object-menu-title Разделы
					.nav__object-menu-list
						a(href='#').nav__object-menu-item О клубе
						a(href='#').nav__object-menu-item Галерея
						a(href='#').nav__object-menu-item Акции
						a(href='#').nav__object-menu-item Секции в клубе
						a(href='#').nav__object-menu-item Расписание в клубе
						a(href='#').nav__object-menu-item Абонементы клуба
						a(href='#').nav__object-menu-item Календарь мероприятий
						a(href='#').nav__object-menu-item Команда
						a(href='#').nav__object-menu-item Контакты
				.nav__object-contact
					.nav__object-contact-bigtitle ТЕЛЕФОН КЛУБА
					.nav__object-contact-title Рецепция клуба:
					.nav__object-contact-phone: span +7 (812) 655-61-71
					.nav__object-contact-title Отдел продаж:
					.nav__object-contact-phone
						span +7(812) 910-42-42
						span +7(911) 122-75-0

				.nav__object-address
					.nav__object-address-bigtitle АДРЕС КЛУБА
					.nav__object-address-item ул. Кржижановского д. 8 (станция метро «Ладожская», «пр.Большевиков»)

				.nav__object-socials
					.nav__object-socials-list
						.nav__object-socials-item.nav__object-socials-item_vk
						.nav__object-socials-item.nav__object-socials-item_fb
						.nav__object-socials-item.nav__object-socials-item_yt
						.nav__object-socials-item.nav__object-socials-item_ig
