.popup.popup_workout
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Записаться на&nbsp;тренировку
				.popup__text Оставьте Ваши контакты, я&nbsp;перезвоню Вам&nbsp;в&nbsp;свободную минутку
				form.form.popup__form(action='/', method='post')

					.form__field
						.form__input.form__input_email
							i.form__input-ico
							input(type='tel', name='appointmentPhone')
							span.placeholder Ваш телефон
						.form__message

					.form__field
						.form__input.form__input_submit
							input(type='submit', value='ЗАПИСАТЬСЯ НА ТРЕНИРОВКУ').btn.btn_blue

.popup.popup_tnx
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Записаться на&nbsp;тренировку
				.popup__message: span Спасибо за заявку, можете идти собирать спортивную сумку
				.popup__btn: .btn.btn_border(data-popup-close='.popup') ЗАКРЫТЬ


.popup.popup_contact
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Связаться с&nbsp;нами
				.popup__contact
					.popup__contact-title Рецепция клуба:
					a.popup__contact-phone(href='tel:+78122919463') +7 (812) 291-94-63
					.popup__contact-title Отдел продаж:
					a.popup__contact-phone(href='tel:+78129557790') +7 (812) 955-77-90
					a.popup__contact-phone(href='tel:+78129557790') +7 (812) 955-77-90




.popup.popup_address
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Адрес магазина
				.popup__address
					.popup__address-text ул. Кржижановского д. 8 #[br](станция метро «Ладожская»,#[br]«пр.Большевиков» )
					.popup__address-map(style='background-image: url("../img/map_popup.jpg");')
						.btn.btn_blue.on-mb ПРОЛОЖИТЬ МАРШРУТ

